<div class="section" id="organizer-header-section">
  <div class="container">
    <div class="section-header row">
      <div class="col-md-9 col-lg-10">
        <h2 class="event-title"><%= @event.title %> [<%= @event.status == 'published' ? 'Live' : 'Draft' %>]</h2>
        <p><%= @event.to_uptime %> at <%= @event.location_name %></p>
      </div>
      <div class="col-md-3 col-lg-2 text-right">
        <a href="<%= edit_organizer_event_path(@event) %>" class="btn btn-default">Edit</a>
        <a href="<%= client_event_path(@event) %>" class="btn btn-default">View Event</a>
      </div>
    </div>

    <ul class="nav nav-pills nav-daydash nav-daydash-lg" id="<%= current_user.can_organizer? ? 'organizer-nav' : 'profile-nav' %>">
      <li class="organizer-event-nav-dashboard">
        <a href="#"><i class="icon icon-xs icon-order"></i> Dashboard</a>
      </li>
      <li class="organizer-event-nav-orders">
        <a href="<%= orders_organizer_event_path(@event) %>"><i class="icon icon-xs icon-order"></i> Orders</a>
      </li>
      <li class="organizer-event-nav-attendees">
        <a href="<%= attendees_organizer_event_path(@event) %>"><i class="icon icon-xs icon-edit"></i> Attendees</a>
      </li>
      <li class="organizer-event-nav-check-in">
        <a href="<%= checkin_organizer_event_path(@event) %>"><i class="icon icon-xs icon-checkin"></i> Check in</a>
      </li>
    </ul>
  </div>
</div>
