
          <div class="form-section">
            <div class="form-header">
              <h1 class="form-title">1. Event Detail
                <span style="font-size: 14px;">
                <% if @event.status.published? %>
                  <i class="fa fa-check-circle" aria-hidden="true"></i> <%= @event.status %>
                <% else %>
                  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> <%= @event.status %>
                <% end %>
                </span>
              </h1>
            </div>
            <div class="form-body row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>Event Title</label>
                  <input class="form-control" name="title" value="<%= @event.title %>" data-parsley-required="true" />
                </div>
                <div class="form-group">
                  <label>Event Slug</label>
                  <input class="form-control" name="slug" value="<%= @event.slug %>" />
                </div>

                <div class="form-group">
                  <label>Ticket type</label>
                  <div class="radio">
                    <label><input type="radio" name="ticket_type" value="general" <%= "checked" if @event.ticket_type.general? %>>General</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="ticket_type" value="deal" <%= "checked" if @event.ticket_type.deal? %>>Deal</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Show Highlight</label>
                  <div class="radio">
                    <label><input type="radio" name="show_highlight" value="true" <%= "checked" if @event.show_highlight %>>Show</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="show_highlight" value="false" <%= "checked" unless @event.show_highlight %>>Hide</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Category</label>
                  <div class="category-list row">
                    <% @categories.each do |category| %>
                    <div class="col-xs-12 col-md-6">
                      <label class="category">
                        <input type="checkbox" name="category_ids[]" value="<%= category.id %>" <% if @event.categories.where(:id => category.id).exists? %>checked<% end %> />
                        <%= category.title %>
                      </label>
                    </div>
                    <% end %>
                  </div>
                </div>
                <div class="form-group">
                  <label>Shot Description</label>
                  <textarea class="form-control" name="short_description" rows="10"><%= @event.short_description %></textarea>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" name="description" rows="10"><%= @event.description %></textarea>
                </div>
                <div class="form-group">
                  <label>Instruction</label>
                  <textarea class="form-control" name="instruction" rows="10"><%= @event.instruction %></textarea>
                </div>
                <div class="form-group">
                  <label>Location</label>
                  <input class="form-control" name="location_name" value="<%= @event.location_name %>" placeholder="eg. Hubba Thailand" data-parsley-required="true" />
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input class="form-control" name="location_address" value="<%= @event.location_address %>" placeholder="eg. 19 Soi Ekkamai 4, Sukumvit 63 Rd., Prakanong Nua, Bangkok 10110" />
                </div>
                <div class="form-group">
                  <label>Location on Map</label>
                  <div class="form-inline">
                    <input class="form-control" type="text" name="latitude" id="event_latitude" value="<%= @event.latitude %>" placeholder="Latitude" />
                    <input class="form-control" type="text" name="longitude" id="event_longitude" value="<%= @event.longitude %>" placeholder="Longitude" />
                  </div>
                  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                  <div id="organizer-map" style="margin-top: 15px; height: 300px;"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>Cover</label>
                  <input class="form-control" type="file" name="cover" data-parsley-required="true" />
                </div>
                <div class="image-list row">
                  <div class="col-xs-12">
                    <div class="image" style="background-image: url(<%= @event.cover(:full) %>);"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Images</label>
                  <input class="form-control" type="file" name="event_pictures[]" multiple data-parsley-required="true" />
                </div>
                <div class="image-list sortable row">
                  <% @images.each do |image| %>
                    <div class="col-xs-6" data-id="<%= image.sort_index %>">
                      <div class="image" style="background-image: url(<%= image.media(:thumb) %>);"></div>
                    </div>
                  <% end unless @images.nil? %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-section">
            <div class="form-header">
              <h1 class="form-title">2. Ticket Detail</h1>
            </div>

            <% if @sections.blank? and not @sections.nil? %>
              <a class="btn btn-sm btn-default btn-ticket-add" href="javasctipt:;" onclick="return onTicketAdd(this);"><i class="fa fa-plus"></i></a>
            <% end %>

            <div class="form-body">
              <!-- <div class="table-responsive"> -->
                <table class="table table-hover ticket-list">
                  <thead>
                    <tr>
                      <td>Ticket Title</td>
                      <td>Ticket Available</td>
                      <td>Ticket Price</td>
                      <td>Ticket Unit</td>
                      <td>From</td>
                      <td>To</td>
                      <td><!-- Action --></td>
                    </tr>
                  </thead>
                  <tbody
                    <% @sections.each do |section| %>
                      <tr class="tickets" id="ticket-<%= section.id %>" data-ticket-id="<%= section.id %>">
                        <td><input class="form-control" type="text" name="tickets[<%= section.id %>][title]" value="<%= section.title %>" placeholder="eg. General, VIP" /></td>
                        <td><input class="form-control" type="number" name="tickets[<%= section.id %>][total]" value="<%= section.total %>" /></td>
                        <td><input class="form-control" type="number" name="tickets[<%= section.id %>][price]" value="<%= section.price %>" /></td>
                        <td><input class="form-control" type="number" name="tickets[<%= section.id %>][unit]" value="<%= section.unit %>" /></td>

                        <td width="200">
                          <div class="form-group">
                            <div class='input-group date datepicker'>
                              <input class="form-control" type="text" name="tickets[<%= section.id %>][event_time]" value="<%= section.event_time.try(:strftime, '%d/%m/%y %H:%M') %>" />
                              <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                          </div>
                        </td>
                        <td width="200">
                          <div class="form-group">
                            <div class='input-group date datepicker'>
                              <input class="form-control" type="text" name="tickets[<%= section.id %>][end_time]" value="<%= section.end_time.try(:strftime, '%d/%m/%y %H:%M') %>" />
                              <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                          </div>
                        </td>

                        <td width="100" align="right">
                          <a class="btn btn-sm btn-default btn-ticket-delete" href="javasctipt:;" onclick="return onTicketDelete(this);"><i class="fa fa-minus"></i></a>
                          <a class="btn btn-sm btn-default btn-ticket-add" href="javasctipt:;" onclick="return onTicketAdd(this);"><i class="fa fa-plus"></i></a>
                        </td>
                      </tr>
                    <% end if @sections.present? %>
                  </tbody>
                </table>
              <!-- </div> -->
            </div>
          </div>
          <div class="form-footer">
            <button class="btn btn-daydash btn-daydash-green-1">Submit for review</button>
            <!-- <button class="btn btn-daydash btn-daydash-green-1" value="published">Submit</button>
            or
            <button class="btn btn-default" value="unpublish">Save as Draft</button> -->
          </div>

    <!-- Template -->
    <%= render partial: "layouts/parts/section" %>
