<ul class="nav organizer-event-nav">
  <li>
    <a href="<%= orders_organizer_event_path(@event) %>"><i class="icon icon-xs icon-order"></i> Orders</a>
  </li>
  <li>
    <a href="<%= checkin_organizer_event_path(@event) %>"><i class="icon icon-xs icon-checkin"></i> Check in</a>
  </li>
  <li>
    <a href="<%= edit_organizer_event_path(@event) %>"><i class="icon icon-xs icon-edit"></i> Edit</a>
  </li>
  <li>
    <% if @event.status.published? %>
      <a href="<%= unpublish_organizer_event_path(@event) %>"><i class="icon icon-xs icon-unpublish"></i> Unpublish</a>
    <% else %>
      <a href="<%= published_organizer_event_path(@event) %>"><i class="icon icon-xs icon-checked"></i> Published</a>
    <% end %>
  </li>
  <li>
    <a href="<%= update_time_event_organizer_event_path(@event) %>"><i class="fa fa-wrench" aria-hidden="true"></i> Force update events</a>
  </li>
</ul>
