<script>$('body').attr('id', 'index-page');</script>

<div class="section" id="cover-section">
  <div class="slick" id="cover-slick">
    <% @covers.each do |cover| %>
      <div>
        <div class="page-cover" style="height: 350px; background-image: url(<%= cover[:image] %>)">
          <div class="info">
            <div class="container">
              <div class="organizer">
                <%= image_tag @organizer.picture(:medium), width: '120px', height: '120px', style: 'border-radius: 60px; margin: 0 auto' %>
                <i class="icon icon-md icon-verified" style="position: absolute; top: 140px; margin-left: 35px;"></i>
                <div class="title">
                  <%= @organizer.company %>
                </div>
                <div style="width: 500px; margin: 10px auto;">
                  <%= truncate @organizer.short_description, length: 150 %>
                </div>
                <div class="social" style="margin-top: 20px">
                  <% if @organizer.facebook.present? %>
                    <%= link_to @organizer.facebook, target: "_blank" do %>
                      <i class="icon icon-md icon-facebook"></i>
                    <% end %>
                  <% end %>
                  <% if @organizer.instagram.present? %>
                    <%= link_to @organizer.instagram, target: "_blank" do %>
                      <i class="icon icon-md icon-instagram"></i>
                    <% end %>
                  <% end %>
                  <% if @organizer.twitter.present? %>
                    <%= link_to @organizer.instagram, target: "_blank" do %>
                      <i class="icon icon-md icon-twitter"></i>
                    <% end %>
                  <% end %>
                  <% if @organizer.url.present? %>
                    <%= link_to @organizer.url, target: "_blank" do %>
                      <i class="icon icon-md icon-website"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="section" style="background: #FCFBFC">
  <div class="container">
    <div class="row event-list" style="padding-top: 30px;">
      <% @events.each do |event| %>
          <div class="col-sm-6 col-md-4 event-wrapper <% event.categories.each do |category| %> event-category-<%= category.id %><% end %>">
            <%= link_to client_event_path(event.to_url), class: "event card" do %>

              <% if event.uptime > Time.zone.now %>
                <div class="cover" style="background-image: url(<%= event.get_thumbnail %>);"></div>
              <% else %>
                <div class="cover" style="background-image: url(<%= event.get_thumbnail %>); opacity: 0.5;">
                  <div style="color: #fff;
                        font-weight: 600;
                        position: absolute;
                        top: 110px;
                        text-align: center;
                        left: 0;
                        right: 0;
                        font-size: 22px;">
                    PAST EVENT
                  </div>
                </div>
              <% end %>
              <div class="info">
                <h4 class="title text-left"><%= event.title %></h4>
                <div class="meta date"><i class="icon icon-xs icon-calendar"></i> <%= event.to_uptime %></div>
                <div class="meta location"><i class="icon icon-xs icon-location"></i> <%= event.location_name %></div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>


<style type="text/css">
  #about-section {
    border-radius: 0px;
    box-shadow: none;
    padding: 30px;
    border: 1px solid #eee;
    background: white;
    /*margin-top: -110px*/
  }

  #about-section .content {
    border-radius: 0px;
    box-shadow: none;
    padding: 30px;
    border: 1px solid #eee;
    background: white;
  }

 .about {
    margin-top: -120px;
    width: 800px;
    z-index: 20px;
    position: relative;
 }
 p {
    line-height: 25px;
 }
</style>
