<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="m-t-0 m-b-30 header-title"><b>Fields validation</b></h4>

      <%= form_for @event, url: admin_event_path(@event), medthod: :post, html: { class: 'form-horizontal group-border-dashed' } do |f| %>

      <div class="row">
        <div class="col-md-8">
          <h5><b>Validation type</b></h5>
          <p class="text-muted font-13 m-b-30">
            Your awesome text goes here.
          </p>
            <div class="form-group">
              <%= f.label :organizer, class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <%= f.select :user, options_for_select(@users.collect{ |u| ["#{u.first_name} #{u.last_name}", u.id] }), {}, { class: 'form-control select2' } %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :category, class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <%= f.select :category, options_for_select(@categories.collect{ |c| [c.name, c.id] }), {}, { class: 'form-control select2' } %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :title, class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <%= f.text_field :title, class: 'form-control', autofocus: true, required: true, placeholder: 'Type something'  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :description, class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <%= f.text_area :description, class: 'form-control', rows: 3, required: true %>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-offset-3 col-sm-8">
                <a id="add-more-field" href="javascript:;" target="_self">Add more</a>
              </div>
            </div>

            <div class="form-group section">
              <% @event.tickets.each do |ticket| %>
                <div class="section-wrap clearfix m-b-10">
                  <%= f.label :ticket, class: 'col-sm-3 control-label' %>
                  <div class="col-sm-2 ticket-name">
                    <%= f.text_field :ticket_name, multiple: true, class: 'form-control', placeholder: 'Ticket name', autofocus: true, required: true, value: ticket.title %>
                  </div>
                  <div class="col-sm-2 ticket-price">
                    <%= f.text_field :ticket_price, multiple: true, class: 'form-control', placeholder: 'Ticket price', autofocus: true, required: true, "data-parsley-type": "number", "data-parsley-maxlength": "7", value: ticket.price %>
                  </div>
                  <div class="col-sm-2 ticket-date">
                    <%= f.text_field :ticket_date, multiple: true, class: 'form-control event-datepicker', autofocus: true, required: true, placeholder: "dd/mm/yyyy", "date-format": "dd/mm/yyyy", value: ticket.from_to.strftime('%d/%m/%Y') %>
                  </div>
                  <div class="col-sm-2 ticket-time">
                    <div class="input-group">
                      <div class="bootstrap-timepicker">
                        <%= f.text_field :ticket_time, multiple: true, class: 'form-control event-timepicker', autofocus: true, required: true, placeholder: "9:00", value: ticket.from_to %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :corver_photo, class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <div class="form-control">
                  <%= f.file_field :cover, type: :file %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :attachments, class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <div class="form-control">
                  <%= f.file_field :attachments, type: :file, multiple: true %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :location, class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <%= f.text_field :location, class: 'form-control', autofocus: true, required: true, placeholder: 'ชื่อสถานที่, ถนน, ซอย'  %>
              </div>
            </div>

            <style>
              /*html, body {
                height: 100%;
                margin: 0;
                padding: 0;
              }*/
              #map {
                width: 100%;
                min-height: 300px;
                height: 100%;
              }

              .controls {
                margin-top: 10px;
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 32px;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
              }

              #pac-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin-left: 12px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 300px;
              }

              #pac-input:focus {
                border-color: #4d90fe;
              }

              .pac-container {
                font-family: Roboto;
              }

              #type-selector {
                color: #fff;
                background-color: #4d90fe;
                padding: 5px 11px 0px 11px;
              }

              #type-selector label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
              }
              #target {
                width: 345px;
              }
            </style>
            <div class="row">
              <div class="col-sm-12">
                <div class="card-box">
                  <h4 class="m-t-0 m-b-20 header-title"><b>Map</b></h4>
                  <!-- <div id="gmaps-overlay" class="gmaps"></div> -->
                  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                  <div id="map"></div>
                  <div id="capture"></div>
                  <%= f.hidden_field :latitude %>
                  <%= f.hidden_field :longitude %>
                </div>
              </div>
            </div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA525qX9LmOIK7qPl2sZGWQQC_lf8OTUwk&libraries=places&callback=initAutocomplete" async defer></script>

            <script type="text/javascript">
              // var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
              // var labelIndex = 0;
              //
              // function initMarker() {
              //   var bangalore = { lat: 12.97, lng: 77.59 };
              //   var map = new google.maps.Map(document.getElementById('map'), {
              //     zoom: 12,
              //     center: bangalore
              //   });
              //
              //   // This event listener calls addMarker() when the map is clicked.
              //   google.maps.event.addListener(map, 'click', function(event) {
              //     addMarker(event.latLng, map);
              //   });
              //
              //   // Add a marker at the center of the map.
              //   addMarker(bangalore, map);
              // }
              //
              // function addMarker(location, map) {
              //   // Add the marker at the clicked location, and add the next-available label
              //   // from the array of alphabetical characters.
              //   var marker = new google.maps.Marker({
              //     position: location,
              //     label: labels[labelIndex++ % labels.length],
              //     map: map,
              //     draggable: true
              //   });
              // }
              // google.maps.event.addDomListener(window, 'load', initialize);

              function initAutocomplete() {

                var map = new google.maps.Map(document.getElementById('map'), {
                  center: { lat: 13.7563309, lng: 100.50176510000006 },
                  zoom: 13,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var markers = [];

                // Create the search box and link it to the UI element.
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                // Bias the SearchBox results towards current map's viewport.
                map.addListener('bounds_changed', function() {
                  searchBox.setBounds(map.getBounds());
                });

                map.addListener('click', function(event) {
                  addMarker(event.latLng);
                });

                function setMarkers() {
                  for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(yourMap); //Add the marker to the map
                  }
                }

                function hideMarkers() {
                  for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null); //Remove the marker from the map
                  }
                }

                function addMarker(location) {
                  hideMarkers();
                  markers = [];
                  var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    draggable: true
                  });
                  markers.push(marker);
                  updateLatLng(location.lat(), location.lng());

                  marker.addListener('dragend', function(event) {
                    updateLatLng(event.latLng.lat(), event.latLng.lng());
                  });
                }

                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.
                searchBox.addListener('places_changed', function() {
                  var places = searchBox.getPlaces();

                  if (places.length == 0) {
                    return;
                  }

                  // Clear out the old markers.
                  // markers.forEach(function(marker) {
                  //   marker.setMap(null);
                  // });
                  // markers = [];

                  // For each place, get the icon, name and location.
                  var bounds = new google.maps.LatLngBounds();
                  places.forEach(function(place) {
                    var icon = {
                      url: place.icon,
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(25, 25)
                    };

                    addMarker(place.geometry.location);
                    // Create a marker for each place.
                    // markers.push(new google.maps.Marker({
                    //   map: map,
                    //   title: place.name,
                    //   position: place.geometry.location,
                    //   draggable: true
                    // }));

                    if (place.geometry.viewport) {
                      // Only geocodes have viewport.
                      bounds.union(place.geometry.viewport);
                    } else {
                      bounds.extend(place.geometry.location);
                    }
                  });
                  map.fitBounds(bounds);
                });
              }

              function updateLatLng(lat, lng) {
                $("#event_latitude").val(lat);
                $("#event_longitude").val(lng);
              }
            </script>
        </div>
        <div class="col-md-4">
          <!-- <h5><b>True multi value</b></h5>
          <p class="text-muted m-b-30 font-13">
                Use a <code>&lt;select multiple /&gt;</code> as your input element for a tags input, to gain true multivalue support.
                 Instead of a comma separated string, the values will be set in an array. Existing <code>&lt;option /&gt;</code>
                 elements will automatically be set as tags. This makes it also possible to create tags containing a comma.
          </p>
          <div class="m-b-0">
              <select multiple data-role="tagsinput">
                  <option value="Amsterdam">Amsterdam</option>
                  <option value="Washington">Washington</option>
                  <option value="Sydney">Sydney</option>
              </select>
          </div> -->
          <h5><b>Cover photo</b></h5>
          <div class="m-t-20">
            <%= image_tag @event.cover(:thumb2x), width: '100%' %>
          </div>
          <% @event.galleries.each do |g| %>
            <div class="m-t-10">
              <%= image_tag g.media(:thumb2x), width: '100%' %>
            </div>
          <% end %>
          <div class="m-b-20"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-right">
          <button id="submitForm" type="submit" class="btn btn-primary waves-effect waves-light">
            Update
          </button>
          <button id="resetForm" type="reset" class="btn btn-default waves-effect waves-light m-l-5">
            Cancel
          </button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<%= javascript_include_tag 'switchery/switchery.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-tagsinput/dist/bootstrap-tagsinput.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'multiselect/js/jquery.multi-select', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-quicksearch/jquery.quicksearch', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'select2/select2.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-inputmask/bootstrap-inputmask.min', 'data-turbolinks-track' => true %>

<%#= javascript_include_tag 'moment/moment', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

<%= javascript_include_tag 'timepicker/bootstrap-timepicker.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-daterangepicker/daterangepicker', 'data-turbolinks-track' => true %>

<script>

  jQuery(document).ready(function() {

    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".section-wrap:last"); //Fields wrapper
    var add_button      = $("#add-more-field"); //Add button ID
    var ticketName      = $(".ticket-name");
    var ticketPrice     = $(".ticket-price");
    var ticketDate      = $(".ticket-date");
    var ticketTime      = $(".ticket-time");

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        // $(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
        $(wrapper).clone().appendTo($('.section:last'));
        // $(wrapper).append('<div class="col-sm-1"><a href="#" class="remove_field">X</a></div>');
        picker_init();
      }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      e.preventDefault(); $(this).parent('div').remove(); x--;
    })

    picker_init();
  });

  function picker_init(){
    jQuery('.event-datepicker').datepicker({
      autoclose: true,
      format: "dd/mm/yyyy",
      todayHighlight: true
    });

    jQuery('.event-timepicker').timepicker({
      showMeridian : false,
      minuteStep : 15
    });
  }

</script>

<!-- Parsleyjs -->
<%#= javascript_include_tag 'parsleyjs/dist/parsley.min', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="//cdn.bootcss.com/parsley.js/2.4.3/parsley.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('form').parsley();
  });
</script>

<!-- Dropzone js -->
<%#= javascript_include_tag 'dropzone/dist/dropzone', 'data-turbolinks-track' => true %>
<!--
<script type="text/javascript">
  var uploader = new Dropzone('#event_attachments');
  uploader.on('success', function( file, resp ){
    console.log(file)
  });
</script> -->
