<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="m-t-0 m-b-30 header-title"><b>Fields validation</b></h4>


      <div class="row">
        <div class="col-lg-12 text-right">
          <button id="submitForm" type="submit" class="btn btn-primary waves-effect waves-light">
            Add
          </button>
          <button id="resetForm" type="reset" class="btn btn-default waves-effect waves-light m-l-5">
            Cancel
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h5><b>Validation type</b></h5>
          <p class="text-muted font-13 m-b-30">
            Your awesome text goes here.
          </p>
          <%= form_for @event, url: admin_events_path, medthod: :post, html: { class: 'form-horizontal group-border-dashed' } do |f| %>
            <div class="form-group">
              <%= f.label :organizer, class: 'col-sm-3 control-label' %>
              <div class="col-sm-6">
                <%= f.select :user, options_for_select(@users.collect{ |u| ["#{u.first_name} #{u.last_name}", u.id] }), {}, { class: 'form-control select2' } %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :title, class: 'col-sm-3 control-label' %>
              <div class="col-sm-6">
                <%= f.text_field :title, class: 'form-control', autofocus: true, required: true, placeholder: 'Type something'  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :description, class: 'col-sm-3 control-label' %>
              <div class="col-sm-6">
                <%= f.text_area :description, class: 'form-control', rows: 3, required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :price, class: 'col-sm-3 control-label' %>
              <div class="col-sm-6">
                <div class="input-group">
                  <%= f.text_field :price, class: 'form-control', rows: 3, required: true, placeholder: "Enter only numbers", "data-parsley-type": "number"%>
                  <span class="input-group-addon">.00</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :from_to, class: 'col-sm-3 control-label' %>
              <div class="col-sm-6">
                <div class="input-group">
                  <%= f.text_field :from_to, class: 'form-control', autofocus: true, required: true, placeholder: "dd/mm/yyyy", id: "datepicker-autoclose", "date-format": "dd/mm/yyyy" %>
                  <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :location, class: 'col-sm-3 control-label' %>
              <div class="col-sm-6">
                <%= f.text_field :location, class: 'form-control', autofocus: true, required: true, placeholder: 'Type something'  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :category, class: 'col-sm-3 control-label' %>
              <div class="col-sm-6">
                <%= f.select :category, options_for_select(@categories.collect{ |c| [c.name, c.id] }), {}, { class: 'form-control select2' } %>
              </div>
            </div>

            <div class="card-box">
              <h4 class="m-t-0 m-b-20 header-title"><b>Location</b></h4>
              <div class="row form-group">
                <div class="col-sm-6">
                  <input type="search" class="form-control" id="location-address">
                </div>
                <div class="col-sm-6">
                  <a class="btn btn-primary waves-effect waves-light" id="search-map">Search</a>
                  <a class="btn btn-primary waves-effect waves-light" id="search-geolocation">Get location</a>
                </div>
              </div>
              <div id="gmaps-overlay" class="gmaps"></div>
            </div>
          <% end %>
        </div>

        <div class="col-lg-6">
          <h5><b>Cover Image</b></h5>
          <div class="row">
            <div class="col-md-12 portlets">
              <div class="m-b-30">
                <%= form_for @event, url: admin_event_upload_path(@event), multipart: true, html: { class: 'dropzone', id: 'dropzone' } do |f| %>
                  <%#= f.file_field 'picture' %>
                  <div class="fallback">
                    <!-- <input name="picture" type="file" multiple /> -->
                    <%= file_field_tag "images[]", type: :file, multiple: true %>
                  </div>
                <% end %>
                 
                <!-- <form action="#" class="dropzone" id="dropzone">
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                  </div>
                </form> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <%= image_tag @event.cover(:medium) %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <% @event.event_attachments.each do |e|%>
                <%= image_tag e.media(:medium) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag 'switchery/switchery.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-tagsinput/dist/bootstrap-tagsinput.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'multiselect/js/jquery.multi-select', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-quicksearch/jquery.quicksearch', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'select2/select2.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-inputmask/bootstrap-inputmask.min', 'data-turbolinks-track' => true %>

<%#= javascript_include_tag 'moment/moment', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

<%= javascript_include_tag 'timepicker/bootstrap-timepicker.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-daterangepicker/daterangepicker', 'data-turbolinks-track' => true %>

<script>
  jQuery('#datepicker-autoclose').datepicker({
    autoclose: true,
    format: "dd/mm/yyyy",
    todayHighlight: true
  });
</script>

<!-- Parsleyjs -->
<%#= javascript_include_tag 'parsleyjs/dist/parsley.min', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="//cdn.bootcss.com/parsley.js/2.4.3/parsley.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('form').parsley();

    $('#submitForm').on('click', function(){
      $('#new_event').submit();
    });
  });
</script>
<!-- google maps api -->
<%= javascript_include_tag '//maps.google.com/maps/api/js?sensor=true', 'data-turbolinks-track' => true %>
<!-- Gmaps file -->
<%= javascript_include_tag 'gmaps/gmaps.min', 'data-turbolinks-track' => true %>
<script type="text/javascript">

!function($) {
  "use strict";

  var GoogleMap = function() {};

  //creates map with overlay
  GoogleMap.prototype.createWithOverlay = function ($container) {
    var map = new GMaps({
      div: $container,
      zoom: 16,
      lat: 13.7563309,
      lng: 100.50176510000006,
      click: function(e) {
        map.removeMarkers()
        map.addMarker({
          lat: map.getCenter().lat(),
          lng: map.getCenter().lng(),
          draggable: true
        });
      },
    });

    $('#search-geolocation').on('click', function(){
      GMaps.geolocate({
        success: function(position) {
          map.setCenter(position.coords.latitude, position.coords.longitude);
        },
        error: function(error) {
          alert('Geolocation failed: '+error.message);
        },
        not_supported: function() {
          alert("Your browser does not support geolocation");
        },
        always: function() {
          // alert("Done!");
        }
      });
    });

    $('#search-map').on('click', function(){
      GMaps.geocode({
        address: $('#location-address').val().trim(),
        callback: function(results, status){
          if(status=='OK'){
            var latlng = results[0].geometry.location;
            map.setCenter(latlng.lat(), latlng.lng());
            map.removeMarkers()
            map.addMarker({
              lat: map.getCenter().lat(),
              lng: map.getCenter().lng(),
              draggable: true
            });
          }
        }
      });
    });

    return map;
  },

  //init
  GoogleMap.prototype.init = function() {
    var $this = this;
    $(document).ready(function(){
      //with sample markers
      $this.createWithOverlay('#gmaps-overlay');
    });
  },

  //init
  $.GoogleMap = new GoogleMap, $.GoogleMap.Constructor = GoogleMap
}(window.jQuery),

//initializing
function($) {
  "use strict";
  $.GoogleMap.init()
}(window.jQuery);

</script>
<!-- Dropzone js -->
<%= javascript_include_tag 'dropzone/dist/dropzone', 'data-turbolinks-track' => true %>
