<script>$('body').attr('id', 'organizer-event-checkin').addClass('organizer-event-page');</script>

<%= render partial: "layouts/parts/manage_nav" %>
<script>
  $('#organizer-nav #menu-event-list').addClass('active');
  $('.organizer-event-nav .organizer-event-nav-attendees').addClass('active');
</script>

<div class="section" id="checkin-section">
  <div class="container">
    <div class="section-body row">
      <div class="col-xs-12">
        <% @sections.each do |section| %>
        <div class="event-section-panel">
          <div class="panel-header">
						<div class="row panel-header">
							<div class="col-xs-9 text-left">
								Attendees: <%= section.tickets.available.count %>
							</div>
							<div class="col-xs-3 text-right">
								<%= link_to 'EXPORT', orders_organizer_event_path(format: :xlsx) %>
							</div>
						</div>
					</div>
          <div class="table-responsive organizer-table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td class="mobile-only"></td>
                  <td>ATTENDEE NAME</td>
									<td>GENDER</td>
									<td>AGE</td>
                  <td>EMAIL</td>
                  <td>TEL</td>
                  <td>ORDER ID</td>
                  <td>ORDER DATE</td>
                  <td>TICKET ID</td>
                </tr>
              </thead>
              <tbody>
                <% section.tickets.each do |ticket| %>
                  <% next unless ticket.order.paid? %>
                  <tr>
                    <% if ticket.status.used? %>
                      <td class="mobile-only">Checked</td>
                    <% else %>
                      <td class="mobile-only"><%= link_to "CHECK IN", organizer_event_ticket_checking_path(@event.id, ticket.id), method: :post %></td>
                    <% end %>
                    <td><%= ticket.user.first_name %> <%= ticket.user.last_name %></td>
                    <td><%= ticket.user.gender %></td>
                    <td><%= ticket.user.age %></td>
                    <td><%= ticket.user.email %></td>
                    <td><%= ticket.user.phone %></td>
                    <td><%= ticket.order.code %></td>
                    <td><%= ticket.order.created_at.strftime("%d %B %Y, %H:%M") %></td>
                    <td><%= ticket.code %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  function init_table_filter() {
    $('.table-filter').keyup(function () {
      var element = this;
      var table = $(element).parents('.event-section-panel').find('.table');
      var rex = new RegExp($(this).val(), 'i');
      $('tbody tr', table).hide();
      $('tbody tr', table).filter(function () {
          return rex.test($(this).text());
      }).show();
    })
  }

  $(function() {
    init_table_filter();
  });
</script>
