<% content_for :body_id, 'organizer-event-attendees' %>
<% content_for :body_class, 'organizer-event-page' %>
<%= render partial: "partials/manage_nav" %>
<div class="section" id="checkin-attendees">
  <div class="container">
    <div class="section-body row">
      <div class="col-xs-12">
        <% @sections.each do |section| %>
        <div class="event-section-panel">
          <div class="row panel-header">
            <div class="col-xs-12 col-md-6">
              Attendees: <%= section.tickets.paid.count %>
            </div>
            <div class="col-xs-3 col-md-3 text-right export">
              <%= link_to attendees_organizer_event_path(format: :xlsx) do %>
                <i class="nc-icon-outline arrows-4_launch-47"></i> EXPORT
              <% end %>
            </div>
            <div class="col-xs-6 col-md-3 text-right">
              <select class="form-control">
                <option selected disabled>เรียงตาม: Recent</option>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          </div>
          <div class="table-responsive organizer-table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td class="mobile-only"></td>
                  <td>ATTENDEE NAME</td>
                  <td>GENDER</td>
                  <td>AGE</td>
                  <td>EMAIL</td>
                  <td>TEL</td>
                  <td>ORDER ID</td>
                  <td>ORDER DATE</td>
                  <td>TICKET ID</td>
                </tr>
              </thead>
              <tbody>
                <% section.tickets.each do |ticket| %>
                  <% next unless ticket.order.paid? %>
                  <tr>
                    <% if ticket.status.used? %>
                      <td class="mobile-only">Checked</td>
                    <% else %>
                      <td class="mobile-only"><%= link_to "CHECK IN", organizer_event_ticket_checking_path(@event.id, ticket.id), method: :post %></td>
                    <% end %>
                    <td><%= ticket.user.first_name %> <%= ticket.user.last_name %></td>
                    <td><%= ticket.user.gender %></td>
                    <td><%= ticket.user.age %></td>
                    <td><%= ticket.user.email %></td>
                    <td><%= ticket.user.phone %></td>
                    <td><%= ticket.order.code %></td>
                    <td><%= ticket.order.created_at.strftime("%d %B %Y, %H:%M") %></td>
                    <td><%= ticket.code %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  function init_table_filter() {
    $('.table-filter').keyup(function () {
      var element = this;
      var table = $(element).parents('.event-section-panel').find('.table');
      var rex = new RegExp($(this).val(), 'i');
      $('tbody tr', table).hide();
      $('tbody tr', table).filter(function () {
          return rex.test($(this).text());
      }).show();
    })
  }

  $(function() {
    init_table_filter();
  });
</script>
