<script>$('body').attr('id', 'organizer-event-checkin').addClass('organizer-event-page');</script>

<%= render partial: "layouts/parts/nav" %>
<script>
  $('#organizer-nav #menu-event-list').addClass('active');
  $('.organizer-event-nav .organizer-event-nav-check-in').addClass('active');
</script>

<div class="section" id="checkin-section">
  <div class="container">
    <div class="section-header row">
      <div class="col-xs-12">
        <h1 class="event-title"><%= @event.title %></h1>
      </div>
    </div>
    <div class="section-body row">
      <div class="col-xs-12 col-md-2">
        <%= render partial: "organizer/parts/organizer-event-nav" %>
      </div>
      <div class="col-xs-12 col-md-10">
        <% @sections.each do |section| %>
        <div class="event-section-panel">
          <div class="panel-header">
            <h3>Attendees / Check In</h3>
            <h4 class="panel-title"><%= section.title %> - <%= section.event_time.try(:strftime, "%d %B %Y, %H:%M") %></h4>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <ul class="meta-info list-inline">
                  <li>Attendee: <%= section.tickets.paid.count %></li>
                  <li>Checked-in: <%= section.tickets.used.count %></li>
                  <li>Remaining: <%= section.tickets.paid.count - section.tickets.used.count %></li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control table-filter" name="table_filter" placeholder="Name, Email, Ticket ID">
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive organizer-table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td class="mobile-only"></td>
                  <td>ATTENDEE NAME</td>
                  <td>EMAIL</td>
                  <td>TEL</td>
                  <td>TICKET ID</td>
                  <td>STATUS</td>
                </tr>
              </thead>
              <tbody>
                <% section.tickets.each do |ticket| %>
                  <% next unless ticket.order.paid? %>
                  <tr>
                    <% if ticket.status.used? %>
                      <td class="mobile-only">Checked</td>
                    <% else %>
                      <td class="mobile-only"><%= link_to "CHECK IN", organizer_event_ticket_checking_path(@event.id, ticket.id), method: :post %></td>
                    <% end %>
                    <td><%= ticket.user.first_name %> <%= ticket.user.last_name %></td>
                    <td><%= ticket.user.email %></td>
                    <td><%= ticket.user.phone %></td>
                    <td><%= ticket.code %></td>
                    <% if ticket.status.used? %>
                      <td>Checked</td>
                    <% else %>
                      <td><%= link_to "CHECK IN", organizer_event_ticket_checking_path(@event.id, ticket.id), method: :post %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  function init_table_filter() {
    $('.table-filter').keyup(function () {
      var element = this;
      var table = $(element).parents('.event-section-panel').find('.table');
      var rex = new RegExp($(this).val(), 'i');
      $('tbody tr', table).hide();
      $('tbody tr', table).filter(function () {
          return rex.test($(this).text());
      }).show();
    })
  }

  $(function() {
    init_table_filter();
  });
</script>
