<% content_for :body_id, 'organizer-event-checkin' %>
<% content_for :body_class, 'organizer-event' %>
<%= render partial: "partials/manage_nav" %>

<div class="section" id="checkin-section">
  <div class="container">
    <div class="section-body row">
      <div class="col-xs-12">
        <div class="event-section-panel">
          <div class="row panel-header">
            <div class="col-xs-12 col-md-6">
              <div class="row">
                <div class="text-inline ml-20">Attendees: <%= @tickets.paid.count %></div>
                <div class="text-inline ml-20">Checked-in: <%= @tickets.used.count %></div>
                <div class="text-inline ml-20">Remaining: <%= @tickets.paid.count - @tickets.used.count %></div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control table-filter" name="table_filter" placeholder="Name, Email, Ticket ID">
              </div>
            </div>
          </div>
          <div class="table-responsive organizer-table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td class="mobile-only"></td>
                  <td>ATTENDEE NAME</td>
                  <td>EMAIL</td>
                  <td>TEL</td>
                  <td>TICKET TYPE</td>
                  <td>TICKET ID</td>
                  <td>STATUS</td>
                </tr>
              </thead>
              <tbody>
                <% @tickets.each do |ticket| %>
                  <% next unless ticket.order.paid? %>
                  <tr>
                    <% if ticket.status.used? %>
                      <td class="mobile-only">Checked</td>
                    <% else %>
                      <td class="mobile-only"><%= link_to "CHECK IN", organizer_event_ticket_checking_path(@event.id, ticket.id), method: :post %></td>
                    <% end %>
                    <td><%= ticket.user.first_name %> <%= ticket.user.last_name %></td>
                    <td><%= ticket.user.email %></td>
                    <td><%= ticket.user.phone %></td>
                    <td><%= ticket.section.title %></td>
                    <td>#<%= ticket.code %></td>
                    <% if ticket.status.used? %>
                      <td>Checked</td>
                    <% else %>
                      <td><%= link_to "CHECK IN", organizer_event_ticket_checking_path(@event.id, ticket.id), method: :post %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
