<script type="text/javascript">
  $('body').attr('id', 'organizer-events-edit').addClass('organizer-event-page');
  $('#organizer-nav #menu-event-list').addClass('active');
</script>

<%= render partial: "organizer/parts/organizer-nav" %>


<div class="section">
  <div class="container">
    <div class="section-header row">
      <div class="col-xs-12">
        <h1 class="event-title"><%= @event.title %></h1>
      </div>
    </div>
    <div class="section-body row">
      <div class="col-xs-12 col-md-2">
        <%= render partial: "organizer/parts/organizer-event-nav" %>
      </div>
      <div class="col-xs-12 col-md-10">
        <%= form_tag organizer_event_path(@event), multipart: true, method: :put  do %>
          <input type="hidden" name="images_order" value="<%= @images_order.join(',') %>" />
          <input type="hidden" name="images_delete[]" value="" />
          <input type="hidden" name="sections_delete[]" value="" />
          <%= render partial: "organizer/parts/event_form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
