<% content_for :body_id, 'organizer-event-list' %>
<% content_for :body_class, 'organizer-event' %>

<div class="section section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-9">
            <div class="text-inline ml-10">
              <a href="<%= organizer_events_path %>">ALL (<%= @event %>)</a>
            </div>
            <div class="text-inline ml-10">
              <a href="<%= organizer_events_path(filter: :live, sort: params[:sort]) %>">LIVE (<%= @live.count %>)</a>
            </div>
            <div class="text-inline ml-10">
              <a href="<%= organizer_events_path(filter: :draft, sort: params[:sort]) %>">DRAFT (<%= @draft.count %>)</a>
            </div>
            <div class="text-inline ml-10">
              <a href="<%= organizer_events_path(filter: :past, sort: params[:sort]) %>">PAST (<%= @past.count %>)</a>
            </div>
          </div>
          <div class="col-xs-3 text-right">
            <select class="sort_by form-control">
              <option selected disabled>จัดเรียงตาม: Sort by</option>
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
              <!-- <option value="">วันจัดงาน</option>
              <option value="">วัน</option> -->
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <% @events.each do |event| %>
            <div class="event card-side-cover event-for-organizer event-<%= event.organizer_status %>">
              <div style="display: table-cell; width: 140px; padding-top: 30px;
                          text-align: center;
                          border-right: 2px solid #94E5E6;
                          margin-right: 20px;
                          font-family: \"Helvetica Neue\", sans-serif;">
                <div style="font-size: 24px;
                            text-transform: uppercase;">
                  <%= event.uptime.try(:strftime, "%b") %>
                </div>
                <div style="font-size: 50px;">
                  <%= event.uptime.try(:strftime, "%d") %>
                </div>
              </div>
              <div class="info">
                <div class="info-body">
                  <h4 class="title">
                    <%#= link_to event.title, client_event_path(event), style: 'color: #000', target: '_blank' %>
                    <%# if event.uptime > Time.zone.now %>
                      <%#= @event.status == 'published' ? '<div class="btn btn-thekanko-status btn-thekanko-live">Live</div>'.html_safe : '<div class="btn btn-thekanko-status btn-thekanko-draft">Draft</div>'.html_safe %>
                      <%#= event.status == 'published' ? '<div class="btn btn-thekanko-status btn-thekanko-live">Live</div>'.html_safe : '<div class="btn btn-thekanko-status btn-thekanko-draft">Draft</div>'.html_safe %>
                    <%# else %>
                      <div class="btn btn-thekanko-status btn-thekanko-past">Past</div>
                    <%# end %>
                  </h4>
                  <div class="meta date location"><%= event.to_uptime %> at <%= event.location_name %></div>
                </div>
                <div class="info-footer">
                  <div class="row">
                    <div class="col-xs-12 col-md-4 pull-right">
                      <div class="ticket-sold-panel">
                        <div class="row">
                          <div class="col-xs-7 ticket-sold-label" style="font-size: 14px">จำนวนบัตรขายไป</div>
                          <div class="col-xs-5 ticket-sold-value"><%= event.tickets.paid.count %> / <%= event.sections.total %></div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= event.tickets.paid.count / event.sections.total.to_f * 100 %>%;">
                                <span class="sr-only"><%= event.tickets.paid.count / event.sections.total.to_f * 100 %>% Complete</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-8">
                      <ul class="list-inline list-action-nav">
                        <% if event.status.published? %>
                          <li>
                            <a href="<%= dashboard_organizer_event_path(event) %>"><i class="nc-icon-outline files_folder-money"></i> Manage Event</a>
                          </li>
                        <% end %>
                        <li>
                          <a href="<%= edit_organizer_event_path(event) %>"><i class="nc-icon-outline design_pen-01"></i> Edit</a>
                        </li>
                        <% if event.status.published? %>
                          <li><%#= unpublish_organizer_event_path(event) %>
                            <a href="<%#= client_event_path(event) %>" target="_blank"><i class="nc-icon-outline ui-1_eye-17"></i> View Event</a>
                          </li>
                        <% else %>
                          <li>
                            <a href="<%= published_organizer_event_path(event) %>"><i class="nc-icon-outline media-1_button-power"></i> Go Live</a>
                          </li>
                          <!-- <li>
                            <a><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete</a>
                          </li> -->
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.sort_by').on('change', function(){
    var sort = $(this).val();
    var url = location.protocol + '//' + location.host + location.pathname;
    window.location = url + '?filter=' + getUrlParameter('filter') + '&sort_by=' + sort;
  });
</script>
