<div class="section">
  <div class="container">
    <%= render partial: "organizer/parts/organizer-nav" %>
    <script>$('#organizer-nav #menu-event-list').addClass('active');</script>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="event-list">
          <div class="list-header">
            <h1 class="list-title">Manage Events</h1>
          </div>
          <div class="list-body">
            <% @events.each do |event| %>
            <div class="event card-side-cover">
              <a class="cover" style="background-image: url(<%= event.galleries.first.try(:media, :thumb) %>);" href="#"></a>
              <div class="info">
                <div class="info-body">
                  <h4 class="title"><%= event.title %></h4>
                  <div class="meta date"><%= event.sections.first %></div>
                  <div class="meta location"><%= event.location_name %></div>
                </div>
                <div class="info-footer">
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="list-inline list-action-nav pull-right">
                        <li>
                          <%= link_to "Transaction List", organizer_event_path(event) %>
                        </li>
                        <li>
                          <%= link_to "Edit", edit_organizer_event_path(event), target: '_self' %>
                        </li>
                        <li>
                          <%= link_to "View Event", organizer_event_path(event) %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
