<script>$('body').attr('id', 'organizer-event-list').addClass('organizer-event-page');</script>

<%= render partial: "layouts/parts/nav" %>
<script>$('#organizer-nav #menu-event-list').addClass('active');</script>

<div class="section" id="event-list-section">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="event-list">
          <div class="list-body">
            <% @events.each do |event| %>
            <div class="event card-side-cover event-for-organizer">
              <div class="cover" style="background-image: url('<%= event.get_thumbnail %>');"></div>
              <div class="info">
                <div class="info-body">
                  <h4 class="title"><%= event.title %></h4>
                  <div class="meta date"><%= event.to_uptime %></div>
                  <div class="meta location"><%= event.location_name %></div>
                  <div class="meta">By <%= "#{event.user.company}" %></div>
                </div>
                <div class="info-footer">
                  <div class="row">
                    <div class="col-xs-12 col-md-4 pull-right">
                      <div class="ticket-sold-panel">
                        <div class="row">
                          <div class="col-xs-7 ticket-sold-label" style="font-size: 14px">จำนวนบัตรขายไป</div>
                          <div class="col-xs-5 ticket-sold-value"><%= event.tickets.paid.count %> / <%= event.sections.total %></div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= event.tickets.paid.count / event.sections.total.to_f * 100 %>%;">
                                <span class="sr-only"><%= event.tickets.paid.count / event.sections.total.to_f * 100 %>% Complete</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-8">
                      <ul class="list-inline list-action-nav">

                        <% if event.status.published? %>
                          <li>
                            <a href="<%= orders_organizer_event_path(event) %>"><i class="icon icon-xs icon-order"></i> Orders</a>
                          </li>
                          <li>
                            <a href="<%= checkin_organizer_event_path(event) %>"><i class="icon icon-xs icon-checkin"></i> Check in</a>
                          </li>
                        <% end %>
                        <li>
                          <a href="<%= edit_organizer_event_path(event) %>"><i class="icon icon-xs icon-edit"></i> Edit</a>
                        </li>
                        <% if event.status.published? %>
                          <li>
                            <% if event.sections.sum(:bought) == 0%>
                              <a href="<%= unpublish_organizer_event_path(event) %>"><i class="icon icon-xs icon-unpublish"></i> Unpublish</a>
                            <% else %>
                              <a href="javascrip:;" style="color: #ccc;"><i class="icon icon-xs icon-unpublish"></i> Unpublish</a>
                            <% end %>
                          </li>
                        <% else %>
                          <li>
                            <a href="<%= published_organizer_event_path(event) %>"><i class="icon icon-xs icon-publish"></i> Publish</a>
                          </li>
                          <li>
                            <a><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete</a>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
