<div class="section" id="organizer-header-section">
  <div class="container">
    <div class="section-header row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
        <h3 class="event-title" style="margin-top: 0px;">
          <%= @event.title %>
          <% if @event.uptime > Time.zone.now %>
            <%= @event.status == 'published' ? '<div class="btn btn-wadealike-status btn-wadealike-live">Live</div>'.html_safe : '<div class="btn btn-wadealike-status btn-wadealike-draft">Draft</div>'.html_safe %>
          <% else %>
            <div class="btn btn-wadealike-status btn-wadealike-past">Past</div>
          <% end %>
        </h3>
        <p><%= @event.to_uptime %> at <%= @event.location_name %></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-right">
        <div class="row">
          <div class="col-xs-6">
            <%= link_to edit_organizer_event_path(@event), class: 'btn btn-wadealike-grey-1 col-xs-12' do %>
              <i class="nc-icon-outline design_pen-01"></i> Edit
            <% end %>
          </div>
          <div class="col-xs-6">
            <%= link_to client_event_path(@event),         class: 'btn btn-wadealike-grey-1 col-xs-12' do %>
              <i class="nc-icon-outline ui-1_eye-17"></i> View Event
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-pills nav-wadealike" id="<%= current_user.can_organizer? ? 'organizer-nav' : 'profile-nav' %>">
      <%= organizer_nav_link "Dashboard", dashboard_organizer_event_path(@event), 'organizer-event-nav-dashboard', 'nc-icon-outline ui-1_home-minimal' %>
      <%= organizer_nav_link "Orders", orders_organizer_event_path(@event), 'organizer-event-nav-orders', 'nc-icon-outline files_folder-money' %>
      <%= organizer_nav_link "Attendees", attendees_organizer_event_path(@event), 'organizer-event-nav-attendees', 'nc-icon-outline users_multiple-19' %>
      <%= organizer_nav_link "Check in", checkin_organizer_event_path(@event), 'organizer-event-nav-check-in', 'nc-icon-outline users-2_a-check' %>
    </ul>
  </div>
</div>
