<script>$('body').attr('id', 'profile-ticket-list-page');</script>
<script>$('body').addClass('profile-page');</script>

<div class="section">
  <div class="container">
    <%= render partial: "client/profile/parts/profile-nav" %>
    <script>$('#profile-nav #menu-my-orders').addClass('active');</script>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="ticket-list">
          <div class="list-header">
            <h1>Orders</h1>
            <ul class="list-inline">
              <li><a href="#">Live (<%= @payments.count %>)</a></li>
              <li>|</li>
              <li><a href="#">Past (0)</a></li>
            </ul>
          </div>
          <div class="list-body">
            <% @payments.each do |payment| %>
              <div class="ticket card-side-cover">
                <a class="cover" style="background-image: url(<%= payment.event.event_pictures.first.try(:media, :thumb) %>);" href="#"></a>
                <div class="info">
                  <div class="info-body">
                    <h4 class="title">
                      <%= link_to client_profile_ticket_path(current_user.id, payment.id) do %>
                        <%= payment.event.title %>
                      <% end %>
                    </h4>
                    <div class="meta date"><%= payment.event.uptime %></div>
                    <div class="meta location"><%= payment.event.location_name %></div>
                  </div>
                  <div class="info-footer">
                    <div class="row">
                      <div class="col-xs-12 col-md-7">
                        <span class="ticket-price">฿ <%= payment.event.first_section.price %></span>
                        <span class="purchase-date">purchased on <%= payment.purchased_status %></span>
                      </div>
                      <div class="col-xs-12 col-md-5">
                        <ul class="list-inline list-action-nav pull-right">
                          <li><%= link_to "View Ticket", client_profile_ticket_path(current_user.id, payment.id) %></li>
                          <li><a href="<%= client_event_path(payment.event.id) %>">View Event</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end if @has_tickets %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
