<script>$('body').attr('id', 'profile-settings-page');</script>
<script>$('body').addClass('profile-page');</script>

<%= render partial: "client/profile/parts/profile-nav" %>
<script>$('#profile-nav #menu-settings').addClass('active');</script>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <a href="/auth/facebook">Connect Facebook</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <%= form_for(@user, as: @user, url: client_profile_settings_path(@user), html: { method: :put }) do |f| %>
          <div class="form-header">
            <h1 class="form-title">Account Settings</h1>
          </div>
          <div class="form-body row">
            <div class="form-group col-xs-12 col-md-6">
              <label>Firstname</label>
              <%= f.text_field :first_name, value: @user.first_name, class: 'form-control' %>
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Lastname</label>
              <%= f.text_field :last_name, value: @user.last_name, class: 'form-control' %>
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Date of Birth</label>
              <div class="form-inline">
                <select class="form-control" name="dob_date" required >
                  <option value="">Date</option>
                  <% (1..31).each do |date| %>
                    <option <%= "selected" if current_user.birthday.try(:day) == date %> value="<%= date %>"><%= date %></option>
                  <% end %>
                </select>
                <select class="form-control" name="dob_month" required >
                  <option value="">Month</option>
                  <% (1..12).each do |month| %>
                    <option <%= "selected" if current_user.birthday.try(:month) == month %> value="<%= month %>"><%= Date::MONTHNAMES[month] %></option>
                  <% end %>
                </select>
                <select class="form-control" name="dob_year" required >
                  <option value="">Year</option>
                  <% (0..99).each do |year| %>
                    <option <%= "selected" if current_user.birthday.try(:year) == (Time.zone.now.year - year) %> value="<%= (Time.zone.now.year - year) %>"><%= (Time.zone.now.year - year) %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Gender</label>
              <div class="form-inline">
                <label class="radio">
                  <%= f.radio_button :gender, 'male' %>
                  Male
                </label>
                <label class="radio">
                  <%= f.radio_button :gender, 'female' %>
                  Female
                </label>
                <!-- <label class="radio">
                  <input type="radio" name="gender" value="not_specific" />
                  <%#= f.radio_button :gender %>
                  Not specific
                </label> -->
              </div>
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>E-mail</label>
              <%= f.email_field :email, value: @user.email, class: 'form-control' %>
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Phone Number</label>
              <%= f.telephone_field :phone, value: @user.phone, class: 'form-control' %>
            </div>
            <div class="col-xs-12">
              <button class="btn btn-daydash btn-daydash-green-1">Update</button>
            </div>
          </div>
        <% end %>


        <%= form_for(@user, as: @user, url: client_profile_change_password_path(@user), html: { method: :put }) do |f| %>
          <div class="form-header">
            <h1 class="form-title">Change Password</h1>
          </div>
          <div class="form-body row">
            <div class="form-group col-xs-12 col-md-6">
              <label>Current Password</label>
              <%= f.password_field :current_password, class: 'form-control' %>
            </div>
            <div class="form-group col-xs-12 col-md-6">
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>New Password</label>
              <%= f.password_field :new_password, class: 'form-control' %>
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Confirm New Password</label>
              <%= f.password_field :new_password_confirm, class: 'form-control' %>
            </div>
            <div class="col-xs-12">
              <button class="btn btn-daydash btn-daydash-green-1">Change Password</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
