<script>$('body').attr('id', 'profile-settings-page');</script>
<script>$('body').addClass('profile-page');</script>

<div class="section">
  <div class="container">
    <%= render partial: "client/profile/parts/profile-nav" %>
    <script>$('#profile-nav #menu-settings').addClass('active');</script>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <%= form_tag '/profile/settings' do  %>
          <div class="form-header">
            <h1 class="form-title">Account Settings</h1>
          </div>
          <div class="form-body row">
            <div class="form-group col-xs-12 col-md-6">
              <label>Firstname</label>
              <input class="form-control" type="text" name="firstname" value="<%= current_user.first_name %>" />
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Lastname</label>
              <input class="form-control" type="text" name="lastname" value="<%= current_user.last_name %>" />
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Date of Birth</label>
              <input class="form-control" type="text" name="dob" value="<%= current_user.birthday %>" />
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Gender</label>
              <div class="form-inline">
                <label class="radio">
                  <input type="radio" name="gender" value="female" />
                  Female
                </label>
                <label class="radio">
                  <input type="radio" name="gender" value="male" />
                  Male
                </label>
                <label class="radio">
                  <input type="radio" name="gender" value="not_specific" />
                  Not specific
                </label>
              </div>
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>E-mail</label>
              <input class="form-control" type="email" name="email" value="<%= current_user.email %>" />
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Phone Number</label>
              <input class="form-control" type="text" name="tel" value="<%= current_user.phone %>" />
            </div>
            <div class="col-xs-12">
              <button class="btn btn-daydash btn-daydash-green-1">Update</button>
            </div>
          </div>
        <% end %>


        <%= form_tag '/profile/settings-password' do  %>
          <div class="form-header">
            <h1 class="form-title">Change Password</h1>
          </div>
          <div class="form-body row">
            <div class="form-group col-xs-12 col-md-6">
              <label>Current Password</label>
              <input class="form-control" type="password" name="current_password" value="" />
            </div>
            <div class="form-group col-xs-12 col-md-6">
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>New Password</label>
              <input class="form-control" type="password" name="new_password" value="" />
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Confirm New Password</label>
              <input class="form-control" type="password" name="new_password2" value="" />
            </div>
            <div class="col-xs-12">
              <button class="btn btn-daydash btn-daydash-green-1">Change Password</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
