<script>$('body').attr('id', 'profile-ticket-list-page');</script>
<script>$('body').addClass('profile-page');</script>

<div class="section">
  <div class="container">
    <%= render partial: "client/profile/parts/profile-nav" %>
    <script>$('#profile-nav #menu-my-tickets').addClass('active');</script>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="ticket-list">
          <div class="list-header">
            <h1>E-Ticket</h1>
            <ul class="list-inline">
              <li><a href="#">Live (<%= @tickets.count %>)</a></li>
              <li>|</li>
              <li><a href="#">Past (0)</a></li>
            </ul>
          </div>
          <div class="list-body">
            <% @tickets.each do |ticket| %>
              <div class="ticket card-side-cover">
                <a class="cover" style="background-image: url(<%= ticket.event.galleries.first.media(:thumb) %>);" href="#"></a>
                <div class="info">
                  <div class="info-body">
                    <h4 class="title">
                      <%#= link_to client_profile_ticket_path(current_user.id, ticket.id) do %>
                        <%= ticket.event.title %>
                      <%# end %>
                    </h4>
                    <div class="meta date"><%= ticket.section.to_event_human %></div>
                    <div class="meta location"><%= ticket.event.location_name %></div>
                  </div>
                  <div class="info-footer">
                    <div class="row">
                      <div class="col-xs-12 col-md-7">
                        <span class="ticket-price">฿ <%= ticket.event.first_section.price %></span>
                        <span class="purchase-date">purchased on <%= ticket.payment.purchased_status %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
