<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <!-- <h4 class="m-t-0 m-b-30 header-title"><b>Fields validation</b></h4> -->

      <%= form_for @event, url: management_event_path(@event), medthod: :post, html: { class: 'form-horizontal group-border-dashed' } do |f| %>
        <div class="row">
          <div class="col-md-7">
            <h4>Event Details</h4>

            <div class="form-group">
              <%= f.label :title, class: 'col-sm-2 control-label' %>
              <div class="col-sm-6">
                <%= f.text_field :title, class: 'form-control', autofocus: true, required: true, placeholder: 'Type something'  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :categories, class: 'col-sm-2 control-label' %>
              <div class="col-sm-6">
                <%= f.collection_check_boxes :category, @categories, :id, :title, checked: @category_id do |c| %>
                  <div class="checkbox">
                    <%= c.check_box %>
                    <%= c.label %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :description, class: 'col-sm-2 control-label' %>
              <div class="col-sm-6">
                <%= f.text_area :description, class: 'form-control', rows: 3, required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :location, class: 'col-sm-2 control-label' %>
              <div class="col-sm-6">
                <%= f.text_field :location_name, class: 'form-control', autofocus: true, required: true, placeholder: 'ชื่อสถานที่, ถนน, ซอย'  %>
              </div>
            </div>


            <style>
              /*html, body {
                height: 100%;
                margin: 0;
                padding: 0;
              }*/
              #map {
                width: 100%;
                min-height: 300px;
                height: 100%;
              }

              .controls {
                margin-top: 10px;
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 32px;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
              }

              #pac-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin-left: 12px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 300px;
              }

              #pac-input:focus {
                border-color: #4d90fe;
              }

              .pac-container {
                font-family: Roboto;
              }

              #type-selector {
                color: #fff;
                background-color: #4d90fe;
                padding: 5px 11px 0px 11px;
              }

              #type-selector label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
              }
              #target {
                width: 345px;
              }
            </style>
            <div class="row">
              <div class="col-md-11">
                <div class="card-box">
                  <h4 class="m-t-0 m-b-20 header-title"><b>Map</b></h4>
                  <!-- <div id="gmaps-overlay" class="gmaps"></div> -->
                  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                  <div id="map"></div>
                  <div id="capture"></div>
                  <%= f.hidden_field :latitude %>
                  <%= f.hidden_field :longitude %>
                </div>
              </div>
            </div>
            <%= render partial: "layouts/parts/google_maps" %>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <%= f.label :picture, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <div class="form-control">
                  <%= f.file_field :attachments, type: :file, multiple: true %>
                </div>
                <% @event.galleries.each do |g| %>
                <div class="m-t-20">
                  <%= image_tag g.media(:thumb), width: '100%', height: :auto %>
                  <%= link_to('Delete', delete_attachment_management_events_path(@event.to_url, g.id), method: :delete) %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>


      <div class="row">
        <div class="col-md-12">
          <h4>2. Ticket Detail

          <%= link_to_add_association 'Add Ticket', f, :sections,
                                    {
                                      'data-association-insertion-node': '.tickets',
                                      'data-association-insertion-method': :append,
                                      partial: 'section_fields',
                                      id: 'addTickets'
                                    }
                                    %>
         </h4>

          <div class="tickets">
            <% @event.sections.each do |x| %>
              <%= f.fields_for :sections do |section| %>
                <%= render 'section_datas', f: section, s: x  %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <button id="submitForm" type="submit" class="btn btn-primary waves-effect waves-light">
            Update
          </button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
