<script>$('body').attr('id', 'payment-page');</script>

<div class="section" id="payment-section">
  <div class="container">
    <div class="row">

      <!-- Left side -->
      <div class="col-xs-12 col-md-4">
        <div class="event card payment-card">
          <%= link_to client_event_path(@event.to_url) do %>
            <% if @event.galleries.present? %>
              <div class="cover" style="background-image: url(<%= @event.galleries.first.try(:media, :thumb) %>);"></div>
            <% else %>
              <div class="cover"></div>
            <% end %>
          <% end %>
          <div class="info">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="title text-left">
                  <%= link_to @event.title, client_event_path(@event.to_url) %>
                </h4>
                <div class="meta date"><i class="icon icon-xs icon-calendar"></i> <%= @section.to_event_human %></div>
                <div class="meta location"><i class="icon icon-xs icon-map-pin"></i> <%= @event.location_name %></div>
              </div>
            </div>
            <div class="ticket-list">
              <div class="list-body">
                <% @event.sections.each do |section| %>
                <% next if @tickets[:"#{section.id}"].nil? %>
                <div class="ticket row">
                  <div class="col-xs-8 ticket-title">
                    <%= section.available %> x ฿ <%= section.price %> <%= section.title %>
                  </div>
                  <div class="col-xs-4 ticket-price">
                  ฿ <%= section.price * @tickets[:"#{section.id}"][:quantity] %>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="row list-footer">
                <div class="col-xs-12">
                  Total: ฿ <%= @total %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="col-xs-12 col-md-8">
        <%= form_tag client_event_checkout_path(@event.to_url), id: :checkout do  %>
          <input type="hidden" name="event_id" value="<%= @event.id %>" />
          <input type="hidden" name="omise_token">
          <input type="hidden" name="payment_method" value="credit_card">

          <% if current_user.nil? %>
            <div class="form-section highlight" id="general-info-section">
              <div class="form-section-header">
                <h2 class="form-section-title">Quick Checkout</h2>
                <div class="form-section-description">
                  ซื้อตั๋วผ่าน Facebook Login ในคลิกเดียว
                </div>
              </div>
              <div class="form-section-body">
                <div class="form-section-description">
                  <a href="/auth/facebook"><img src="/src/images/theme/fb-login.png" height="40" /></a>
                </div>
              </div>
            </div>
          <% end %>

            <div class="form-section" id="general-info-section">
              <% if current_user.nil? %>
                <div class="form-section-header">
                  <h2 class="form-sectiont-title">Checkout with E-mail</h2>
                  <div class="form-section-description">
                    We need a couple details in case something changes.<br />
                    We'll send the tickets to your phone and email.
                    or <a data-toggle="modal" data-target="#login-modal" href="#login-modal">Login</a>
                  </div>
                </div>
              <% end %>

              <% unless current_user.nil? %>
                <div class="form-section-body">
                  <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                      <label>Firstname</label>
                      <input class="form-control" type="text" name="firstname" value="<%= current_user.first_name %>" required />
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                      <label>Lastname</label>
                      <input class="form-control" type="text" name="lastname" value="<%= current_user.last_name %>" required />
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                      <label>Phone Number</label>
                      <input class="form-control" type="text" name="phone" value="<%= current_user.phone %>" required />
                    </div>
                    <div class="form-group dob-form-group col-xs-12 col-md-6">
                      <label>Date of Birth</label>
                      <div class="form-inline">
                        <select class="form-control" name="dob_date" required >
                          <option value="">Date</option>
                          <% (1..31).each do |date| %>
                            <option <%= "selected" if current_user.birthday.try(:day) == date %> value="<%= date %>"><%= date %></option>
                          <% end %>
                        </select>
                        <select class="form-control" name="dob_month" required >
                          <option value="">Month</option>
                          <% (1..12).each do |month| %>
                            <option <%= "selected" if current_user.birthday.try(:month) == month %> value="<%= month %>"><%= Date::MONTHNAMES[month] %></option>
                          <% end %>
                        </select>
                        <select class="form-control" name="dob_year" required >
                          <option value="">Year</option>
                          <% (0..99).each do |year| %>
                            <option <%= "selected" if current_user.birthday.try(:year) == (Time.zone.now.year - year) %> value="<%= (Time.zone.now.year - year) %>"><%= (Time.zone.now.year - year) %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group gender-form-group col-xs-12 col-md-6">
                      <label>Gender</label>
                      <div class="form-inline">
                        <label class="radio">
                          <input type="radio" name="gender" value="male" <%= "checked" if current_user.gender == "male" %> required />
                          Male
                        </label>
                        <label class="radio">
                          <input type="radio" name="gender" value="female" <%= "checked" if current_user.gender == "female" %> required />
                          Female
                        </label>
                        <label class="radio">
                          <input type="radio" name="gender" value="not_specify" required />
                          Not specify
                        </label>
                      </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6" style="clear: left;">
                      <label>E-mail</label>
                      <input class="form-control" type="email" name="email" value="<%= current_user.email %>" required />
                    </div>
                    <!-- <div class="form-group col-xs-12 col-md-6">
                      <label>Password</label>
                      <input class="form-control" type="password" name="password" value="" />
                    </div> -->
                  </div>
                </div>
              <% end %>
            </div>
          <% unless current_user.nil? %>
            <div class="form-section" id="payment-method-section">
              <div class="form-section-header">
                <h2 class="form-section-title">Payment Method</h2>
                <ul class="nav nav-tabs nav-justified nav-tabs-black nav-tabs-daydash" role="tablist">
                  <li class="active"><a href="#payment-method-credit-card-panel" role="tab" data-toggle="tab" onclick="return on_change_payment_method('credit_card');">Credit Card</a></li>
                  <li ><a href="#payment-method-bank-panel" role="tab" data-toggle="tab" onclick="return on_change_payment_method('bank_transfer');">Bank Transfer</a></li>
                </ul>
              </div>
              <div class="form-section-body">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="payment-method-credit-card-panel">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="card-wrapper"></div>
                      </div>
                      <div class="form-group col-xs-12 col-md-6">
                        <label>Name</label>
                        <input class="form-control" type="text" name="card_name" value="" data-omise="holder_name">
                      </div>
                      <div class="form-group col-xs-12 col-md-6">
                        <label>Card Number</label>
                        <input class="form-control" type="text" name="card_number" value="" data-omise="number" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12 col-md-6">
                        <label>Expire Date</label>
                        <input class="form-control" type="text" name="card_expiry" value="" data-omise="expiry" />
                        <!--div class="form-inline">
                          <select class="form-control" name="expire_month" data-omise="expiration_month">
                            <option value="">Month</option>
                            <% (1..12).each do |month| %>
                            <option value="<%= month %>"><%= month %></option>
                            <% end %>
                          </select>
                          <select class="form-control" name="expire_month" data-omise="expiration_year">
                            <option value="">Year</option>
                            <% (0..50).each do |i| %>
                            <option value="<%= Time.now.year + i %>"><%= Time.now.year + i %></option>
                            <% end %>
                          </select>
                        </div-->
                      </div>
                      <div class="form-group col-xs-12 col-md-6">
                        <label>CVC</label>
                        <input class="form-control" type="text" name="card_cvc" value="" data-omise="security_code" />
                      </div>
                      <div class="col-xs-12">
                        <div id="token_errors" class="alert alert-danger" style="display: none;"></div>
                      </div>
                    </div>
                    <div class="form-section-footer">
                      <div>
                        <label>
                          
                          By submitting, you agree to <a data-toggle="modal" data-target="#policy-modal" href="#policy-modal">Payment Policy</a>
                        </label>
                      </div>
                      <button class="btn btn-submit btn-block btn-lg btn-daydash btn-daydash-green-1" data-btn="payment-method" value="credit_card">PAY NOW - ฿ <%= @total %></button>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="payment-method-bank-panel">
                    <ul>
                      <li>We will provide payment details for you as soon as you click 'place an order'</li>
                      <li>Please make and confirm payment within 1 hr otherwise your order will be cancelled</li>
                      <li>Please noted that some events might not accept bank transfer due to the time constrain,<br />please consider make a purchase via credit card instead.</li>
                    </ul>
                    <div class="form-section-footer">
                      <div>
                        <label>
                          By submitting, you agree to <a data-toggle="modal" data-target="#policy-modal" href="#policy-modal">Payment Policy</a>
                        </label>
                      </div>
                      <button class="btn btn-submit btn-block btn-lg btn-daydash btn-daydash-green-1" data-btn="payment-method" value="bank_transfer" >Place an order</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="policy-modal">
  <div class="modal-dialog" role="document">
    <%= render partial: "layouts/parts/payment-policy" %>
  </div>
</div>

<script src="https://cdn.omise.co/omise.js"></script>

<script src="/src/packages/card/card.js"></script>
<script src="/src/packages/card/jquery.card.js"></script>

<script src="/src/packages/jquery-validate/jquery.validate.min.js"></script>

<script type="text/javascript"> //Init Function

$(document).ready(function() {
  init_form_validate();
  init_card_validate();
});

function init_card_validate() {
  //Init Card Form
  $('form').card({
    // a selector or DOM element for the container
    // where you want the card to appear
    container: '.card-wrapper', // *required*

    formSelectors: {
      numberInput: 'input[name=card_number]',
      expiryInput: 'input[name=card_expiry]',
      cvcInput: 'input[name=card_cvc]',
      nameInput: 'input[name=card_name]'
    },    
  });

}

function init_form_validate() {
  //Payment Method

  $('#checkout').validate({
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },    
    submitHandler: function() {

      var form = $('#checkout');
      
      if(form.find("[name=payment_method]").val() == 'credit_card') {
        omise_submit(form);
        return false;
      }
      else {
        return true;
      }
    }
  });
}

function omise_submit(form) {

  try {
    Omise.setPublicKey("pkey_test_54rvq6seh8u6mkyxhuh");

    $('.btn-submit').button('loading');
    $('#token_errors').hide();

    var expiry = $("[name=card_expiry]").val();
    var match = null;
    if(match = expiry.match(/^([0-9]+) \/ ([0-9]+)$/)) {
      var expiration_month = match[1];
      var expiration_year = match[2];
    }
    else {
      var expiration_month = '';
      var expiration_year = '';
    }

    var card = {
      "name": form.find("[data-omise=holder_name]").val(),
      "number": form.find("[data-omise=number]").val(),
      // "expiration_month": form.find("[data-omise=expiration_month]").val(),
      // "expiration_year": form.find("[data-omise=expiration_year]").val(),
      "expiration_month": expiration_month,
      "expiration_year": expiration_year,
      "security_code": form.find("[data-omise=security_code]").val()
    };

    Omise.createToken("card", card, function (statusCode, response) {
      try {
        if (response.object == "error") {

          if(response.code == 'invalid_card') throw 'Your credit card information does not correct.';
          else throw response.message;
          
        } else {
          form.find("[name=omise_token]").val(response.id);
          form.find("[name=payment_method]").val(form.find("[data-btn=payment-method]").val());

          form.find("[data-omise=number]").val("");
          form.find("[data-omise=security_code]").val("");

          form.get(0).submit();
        };
      }
      catch(e) {
          $("#token_errors").html(e).show('fast');
          $('.btn-submit').button('reset');
      }
    });
  }
  catch(e) {
    $('#token_errors').html('Your credit card information does not correct.').show('fast');
    $('.btn-submit').button('reset');
  }
}
</script>

<script> //View Function
  function on_change_payment_method(method) {
    $('[name=payment_method]').val(method);
  }
</script>
