<script>$('body').attr('id', 'payment-page');</script>

<div class="section" id="payment-section">
  <div class="container">
    <div class="row">

      <!-- Left side -->
      <div class="col-xs-12 col-md-4">
        <div class="event card payment-card">
          <%= link_to client_event_path(@event.id) do %>
            <% if @event.galleries.present? %>
              <div class="cover" style="background-image: url(<%= @event.galleries.first.try(:media, :thumb) %>);"></div>
            <% else %>
              <div class="cover"></div>
            <% end %>
          <% end %>
          <div class="info">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="title text-left">
                  <%= link_to @event.title, client_event_path(@event.id) %>
                </h4>
                <div class="meta date"><i class="icon icon-xs icon-calendar"></i> <%= @section.event_time.strftime("%A %d %B, %H:%M") %></div>
                <div class="meta location"><i class="icon icon-xs icon-map-pin"></i> <%= @event.location %></div>
              </div>
            </div>
            <div class="ticket-list">
              <div class="list-body">
                <% @event.sections.each do |section| %>
                <% next if @tickets[:"#{section.id}"].nil? %>
                <div class="ticket row">
                  <div class="col-xs-8 ticket-title">
                    <%= section.avaliable %> x ฿ <%= section.price %> <%= section.title %>
                  </div>
                  <div class="col-xs-4 ticket-price">
                  ฿ <%= section.price * @tickets[:"#{section.id}"][:quantity] %>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="row list-footer">
                <div class="col-xs-12">
                  Total: ฿ <%= @total %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="col-xs-12 col-md-8">
        <%= form_tag client_event_checkout_path(@event.id), id: :checkout do  %>
          <input type="hidden" name="event_id" value="<%= @event.id %>" />
          <input type="hidden" name="omise_token">
          <input type="hidden" name="payment_method">
          <input type="hidden" name="payment_amount" value="<%= @total %>">

          <div class="form-section highlight" id="general-info-section">
            <div class="form-section-header">
              <h2 class="form-section-title">Quick Checkout</h2>
              <div class="form-section-description">
                ซื้อตั๋วผ่าน Facebook Login ในคลิกเดียว
              </div>
            </div>
            <div class="form-section-body">
              <div class="form-section-description">
                <a href="/auth/facebook"><img src="/src/images/theme/fb-login.png" height="40" /></a>
              </div>
            </div>
          </div>
          <div class="form-section" id="general-info-section">
            <div class="form-section-header">
              <h2 class="form-sectiont-title">Checkout with E-mail</h2>
              <div class="form-section-description">
                We need a couple details in case something changes.<br />
                We'll send the tickets to your phone and email.
                or <a data-toggle="modal" data-target="#login-modal" href="#login-modal">Login</a>
              </div>
            </div>
            <div class="form-section-body">
              <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                  <label>Firstname</label>
                  <input class="form-control" type="text" name="firstname" value="" />
                </div>
                <div class="form-group col-xs-12 col-md-6">
                  <label>Lastname</label>
                  <input class="form-control" type="text" name="lastname" value="" />
                </div>
                <div class="form-group col-xs-12 col-md-6">
                  <label>Phone Number</label>
                  <input class="form-control" type="text" name="phone" value="" />
                </div>
                <div class="form-group dob-form-group col-xs-12 col-md-6">
                  <label>Date of Birth</label>
                  <div class="form-inline">
                    <select class="form-control" name="dob_date">
                      <option value="">Date</option>
                      <% (1..31).each do |date| %>
                      <option value="<%= date %>"><%= date %></option>
                      <% end %>
                    </select>
                    <select class="form-control" name="dob_month">
                      <option value="">Month</option>
                      <% (1..12).each do |month| %>
                      <option value="<%= month %>"><%= month %></option>
                      <% end %>
                    </select>
                    <select class="form-control" name="dob_year">
                      <option value="">Year</option>
                      <% (0..99).each do |year| %>
                      <option value="<%= (Time.now.year - year) %>"><%= (Time.now.year - year) %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="form-group gender-form-group col-xs-12 col-md-6">
                  <label>Gender</label>
                  <div class="form-inline">
                    <label class="radio">
                      <input type="radio" name="gender" value="female" />
                      Female
                    </label>
                    <label class="radio">
                      <input type="radio" name="gender" value="male" />
                      Male
                    </label>
                    <label class="radio">
                      <input type="radio" name="gender" value="not_specify" />
                      Not specify
                    </label>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-md-6" style="clear: left;">
                  <label>E-mail</label>
                  <input class="form-control" type="email" name="email" value="" />
                </div>                
                <div class="form-group col-xs-12 col-md-6">
                  <label>Password</label>
                  <input class="form-control" type="password" name="password" value="" />
                </div>

              </div>
            </div>
          </div>
          <div class="form-section" id="payment-method-section">
            <div class="form-section-header">
              <h2 class="form-section-title">Payment Method</h2>
              <ul class="nav nav-tabs nav-justified nav-tabs-black nav-tabs-daydash" role="tablist">
                <li class="active"><a href="#payment-method-credit-card-panel" role="tab" data-toggle="tab" onclick="return on_change_payment_method('credit_card');">Credit Card</a></li>
                <li ><a href="#payment-method-bank-panel" role="tab" data-toggle="tab" onclick="return on_change_payment_method('bank_transfer');">Bank Transfer</a></li>
              </ul>
            </div>
            <div class="form-section-body">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="payment-method-credit-card-panel">
                  <div class="row error" style="display: none;">
                    <div class="form-group col-xs-12 col-md-12">
                      <div id="token_errors"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                      <label>Name</label>
                      <input class="form-control" type="text" name="card_name" value="" data-omise="holder_name">
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                      <label>Card Number</label>
                      <input class="form-control" type="text" name="card_number" value="" data-omise="number"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                      <label>Expire Date</label>
                      <div class="form-inline">
                        <select class="form-control" name="expire_month" data-omise="expiration_month">
                          <option value="">Month</option>
                          <% (1..12).each do |month| %>
                          <option value="<%= month %>"><%= month %></option>
                          <% end %>
                        </select>
                        <select class="form-control" name="expire_month" data-omise="expiration_year">
                          <option value="">Year</option>
                          <% (0..50).each do |i| %>
                          <option value="<%= Time.now.year + i %>"><%= Time.now.year + i %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                      <label>CVV</label>
                      <input class="form-control" type="text" name="cvv" value="" data-omise="security_code" />
                    </div>
                  </div>
                  <div class="form-section-footer">
                    <div>
                      <label>
                        <input type="checkbox" name="accept_policy" value="1" />
                        I have read and accept Daydash <a data-toggle="modal" data-target="#policy-modal" href="#policy-modal">Payment Policy</a>
                      </label>
                    </div>
                    <button class="btn btn-block btn-lg btn-daydash btn-daydash-green-1" data-btn="payment-method" value="credit_card">PAY NOW - ฿ <%= @total %></button>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="payment-method-bank-panel">
                  <ul>
                    <li>We will provide payment details for you as soon as you click 'place an order'</li>
                    <li>Please make and confirm payment within 1 hr otherwise your order will be cancelled</li>
                    <li>Please noted that some events might not accept bank transfer due to the time constrain,<br />please consider make a purchase via credit card instead.</li>
                  </ul>
                  <div class="form-section-footer">
                    <div>
                      <label>
                        <input type="checkbox" name="accept_policy" value="1" />
                        I have read and accept Daydash <a data-toggle="modal" data-target="#policy-modal" href="#policy-modal">Payment Policy</a>
                      </label>
                    </div>
                    <button class="btn btn-block btn-lg btn-daydash btn-daydash-green-1" data-btn="payment-method" value="bank_transfer" >Place an order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="policy-modal">
  <div class="modal-dialog" role="document">
    <%= render partial: "layouts/parts/payment-policy" %>
  </div>
</div>

<script src="https://cdn.omise.co/omise.js"></script>
<script type="text/javascript"> //Init Function

$(document).ready(function() {
  init_payment_method_nav();
  init_form_validate();
});

function init_payment_method_nav() {

}

function init_form_validate() {
  Omise.setPublicKey("pkey_test_54rvq6seh8u6mkyxhuh");

  $("#checkout").submit(function () {
    var form = $(this);

    // Disable the submit button to avoid repeated click.
    form.find("input[type=submit]").prop("disabled", true);


    if(payment_method == 'credit_card') {
      return omise_submit(form);
    }
    else {
      //Bank Transfer
      return true;
    }

  });
}

function omise_submit(form) {
  // Serialize the form fields into a valid card object.
  var card = {
    "name": form.find("[data-omise=holder_name]").val(),
    "number": form.find("[data-omise=number]").val(),
    "expiration_month": form.find("[data-omise=expiration_month]").val(),
    "expiration_year": form.find("[data-omise=expiration_year]").val(),
    "security_code": form.find("[data-omise=security_code]").val()
  };

  // Send a request to create a token then trigger the callback function once
  // a response is received from Omise.
  //
  // Note that the response could be an error and this needs to be handled within
  // the callback.
  Omise.createToken("card", card, function (statusCode, response) {
    if (response.object == "error") {
      // Display an error message.
      $("#token_errors").html(response.message);

      // Re-enable the submit button.
      form.find("input[type=submit]").prop("disabled", false);
    } else {
      // Then fill the omise_token.
      form.find("[name=omise_token]").val(response.id);
      form.find("[name=payment_method]").val(form.find("[data-btn=payment-method]").val());

      // Remove card number from form before submiting to server.
      form.find("[data-omise=number]").val("");
      form.find("[data-omise=security_code]").val("");

      // submit token to server.
      form.get(0).submit();
    };
  });

  // Prevent the form from being submitted;
  return false;
}
</script>

<script> //View Function
  function on_change_payment_method(method) {
    $('[name=payment_method]').val(method);
  }
</script>