<script>$('body').attr('id', 'payment-page');</script>

<div class="section" id="payment-section">
  <div class="container">
    <div class="row">

      <!-- Left side -->
      <div class="col-xs-12 col-md-4">
        <div class="event card payment-card">
          <%= link_to client_event_path(@event.id) do %>
            <% if @event.galleries.present? %>
              <div class="cover" style="background-image: url(<%= @event.galleries.first.try(:media, :thumb) %>);"></div>
            <% else %>
              <div class="cover"></div>
            <% end %>
          <% end %>
          <div class="info">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="title text-left">
                  <%= link_to @event.title, client_event_path(@event.id) %>
                </h4>
                <div class="meta date"><i class="icon icon-xs icon-calendar"></i> <%= @section.event_time.strftime("%A %d %B, %H:%M") %></div>
                <div class="meta location"><i class="icon icon-xs icon-map-pin"></i> <%= @event.location %></div>
              </div>
            </div>
            <div class="ticket-list">
              <div class="list-body">
                <% @event.sections.each do |section| %>
                <div class="ticket row">
                  <div class="col-xs-8 ticket-title">
                    <%= section.avaliable %> x ฿ <%= section.price %> <%= section.title %>
                  </div>
                  <div class="col-xs-4 ticket-price">
                  ฿ <%= section.price * section.avaliable %>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="row list-footer">
                <div class="col-xs-12">
                  Total: ฿ <%= @total %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="col-xs-12 col-md-8">
        <%= form_tag client_event_checkout_path(@event.id), id: :checkout do  %>
          <input type="hidden" name="event_id" value="<%= @event.id %>" />
          <div class="form-section" id="general-info-section">
            <div class="form-section-header">
              <h2 class="form-sectiont-title">Your Details</h2>
              <div class="form-section-description">
                We need a couple details in case something changes.<br />
                We'll send the tickets to your phone and email.
              </div>
            </div>
            <div class="form-section-body row">
              <div class="form-group col-xs-12 col-md-6">
                <label>Firstname</label>
                <input class="form-control" type="text" name="firstname" value="" />
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Lastname</label>
                <input class="form-control" type="text" name="lastname" value="" />
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>E-mail</label>
                <input class="form-control" type="email" name="email" value="" />
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>Phone Number</label>
                <input class="form-control" type="text" name="phone" value="" />
              </div>
              <div class="form-group col-xs-12 col-md-6">
                <label>
                  <input type="checkbox" name="signup" value="1" />
                  Signup for Daydash Account for FREE
                </label>
              </div>
            </div>
          </div>
          <div class="form-section" id="payment-method-section">
            <div class="form-section-header">
              <h2 class="form-section-title">Payment Method</h2>
              <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#payment-method-credit-card-panel" role="tab" data-toggle="tab">Credit Card</a></li>
                <li ><a href="#payment-method-bank-panel" role="tab" data-toggle="tab">Bank Transfer</a></li>
              </ul>
            </div>
            <div class="form-section-body">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="payment-method-credit-card-panel">
                  <div class="row">
                    <div class="form-group col-xs-12 col-md-5">
                      <label>Card Number</label>
                      <input class="form-control" type="text" name="card_number" value="" />
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                      <label>Expire Date</label>
                      <div class="form-inline">
                        <select class="form-control" name="expire_month">
                          <option value="">Month</option>
                          <% (1..12).each do |month| %>
                          <option value="<%= month %>"><%= month %></option>
                          <% end %>
                        </select>
                        <select class="form-control" name="expire_month">
                          <option value="">Year</option>
                          <% (0..50).each do |i| %>
                          <option value="<%= Time.now.year + i %>"><%= Time.now.year + i %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                      <label>CVV</label>
                      <input class="form-control" type="text" name="cvv" value="" />
                    </div>
                  </div>
                  <div class="form-section-footer">
                    <div>
                      <label>
                        <input type="checkbox" name="accept_policy" value="1" />
                        I have read and accept Daydash <a href="#">Payment Policy</a>
                      </label>
                    </div>
                    <button class="btn btn-block btn-lg btn-daydash btn-daydash-green-1" name="payment_method" value="credit_card" >PAY NOW - ฿ <%= @total %></button>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="payment-method-bank-panel">
                  <ul>
                    <li>We will provide payment details for you as soon as you click 'place an order'</li>
                    <li>Please make and confirm payment within 1 hr otherwise your order will be cancelled</li>
                    <li>Please noted that some events might not accept bank transfer due to the time constrain,<br />please consider make a purchase via credit card instead.</li>
                  </ul>
                  <div class="form-section-footer">
                    <div>
                      <label>
                        <input type="checkbox" name="accept_policy" value="1" />
                        I have read and accept Daydash <a href="#">Payment Policy</a>
                      </label>
                    </div>
                    <button class="btn btn-block btn-lg btn-daydash btn-daydash-green-1" name="payment_method" value="bank_transfer" >Place an order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
