<script>$('body').attr('id', 'index-page');</script>
<div class="section" id="cover-section">
  <div class="slick" id="cover-slick">
    <% @covers.each do |cover| %>
      <div>
        <div class="page-cover" style="background-image: url(<%= cover[:image] %>)">
          <div class="container">
            <div class="caption"><%= raw(cover[:caption]) %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="section" id="event-section">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="active"><a href="/">ALL</a></li>
      <!-- <li><a href="#">ENTERTAINMENT</a></li>
      <li><a href="#">OUTDOOR&amp;ADVENTURE</a></li>
      <li><a href="#">FITNESS</a></li>
      <li><a href="#">WORKSHOPS</a></li>
      <li><a href="#">FOOD&amp;DRINK</a></li> -->
      <% @category.each do |category| %>
        <li>
          <%= link_to category.title, client_category_path(category.name)  %>
        </li>
      <% end %>
      <!--li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
        </ul>
      </li-->
    </ul>
    <div class="row event-list">
      <% @events.each do |event| %>
        <div class="col-sm-6 col-md-4">
          <div class="event card">
            <%= link_to client_event_path(event.id) do %>
              <% if event.galleries.present? %>
                <div class="cover" style="background-image: url(<%= event.galleries.first.try(:media, :thumb) %>);"></div>
              <% else %>
                <div class="cover"></div>
              <% end %>
            <% end %>
            <div class="info">
              <h4 class="title text-left">
                <%= link_to event.title, client_event_path(event.id) %>
              </h4>
              <div class="meta date"><i class="icon icon-xs icon-calendar"></i> วันเสาร์ ที่ 22 สิงหาคม, 8:00 PM</div>
              <div class="meta location"><i class="icon icon-xs icon-map-pin"></i> Thonglor House Club, ซอยทองหล่อ</div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Slick -->
<link rel="stylesheet" href="/src/packages/slick/slick.css" />
<link rel="stylesheet" href="/src/packages/slick/slick-theme.css" />
<script src="/src/packages/slick/slick.min.js"></script>

<script> //Init Function
function init_slick() {
  $('#cover-slick').slick({
    infinite: true,
    dots: false,
    arrows: false,
    fade: true,
    autoplay: true,
    autoplaySpeed: 4000,
  });
}

$(function() {
  init_slick();
});
</script>
