
<script>$('body').attr('id', 'index-page');</script>
<div class="section" id="cover-section">
  <div class="slick" id="cover-slick">
    <% @covers.each do |cover| %>
      <div>
        <div class="page-cover" style="background-image: url(<%= cover[:image] %>)">
          <div class="info">
            <div class="container">
              <div class="caption"><%= raw(cover[:caption]) %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="section" id="event-section">
  <div class="container">
    <ul class="nav nav-pills nav-daydash">
      <li class="active">
        <%= link_to 'ALL', 'javascript:;', class: 'category-filter' %>
        <!-- <a href="#" onclick="return"></a> -->
      </li>
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.title, 'javascript:;', class: 'category-filter', 'data-filter': category.id %>
        </li>
      <% end if @categories.present? %>
    </ul>
    <div class="row event-list">
      <% @events.each do |event| %>
        <div class="col-sm-6 col-md-4 event-wrapper <% event.categories.each do |category| %> event-category-<%= category.id %><% end %>">
          <a class="event card" href="<%= client_event_path(event.to_url) %>">
            <div class="cover" style="background-image: url(<%= event.get_thumbnail %>);"></div>
            <div class="info">
              <h4 class="title text-left"><%= event.title %></h4>
              <div class="meta date"><i class="icon icon-xs icon-calendar"></i> <%= event.to_up_time %></div>
              <div class="meta location"><i class="icon icon-xs icon-map-pin"></i> <%= event.location_name %></div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
