<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <%= link_to client_event_path(@event.id) do %>
            <%= image_tag @event.galleries.first.media(:thumb), width: '100%', height: :auto, class: 'card-img-top',
            'data-src': "holder.js/100px180/", 'data-holder-rendered':"true"  %>
          <% end %>
          <div class="card-block">
            <h4 class="card-title text-left">
              <%= link_to @event.title, client_event_path(@event.id) %>
            </h4>
            <p class="card-text text-left"><%= @event.sections.first.event_time.to_formatted_s(:short) %></p>
            <p class="card-text text-left"><%= @event.location %></p>
          </div>
          <div class="card-block">
            <p class="card-text">
              1 x $1000
            </p>
          </div>
          <div class="card-block">
            <p class="card-text text-right">
              Total: $1500
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div>

      <style>
        .nav-tabs > li {
          width: 50%;
        }
      </style>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active text-center">
          <a href="#credit-card" aria-controls="home" role="tab" data-toggle="tab">Credit Card</a>
        </li>
        <li role="presentation" class="text-center">
          <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Bank transfer</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">...</div>
        <div role="tabpanel" class="tab-pane" id="profile">...xxxx</div>
      </div>

    </div>
  </div>
</div>
