
<script>$('body').attr('id', 'event-page');</script>
<div class="section" id="cover-section">
  <% if @event.galleries.present? %>
    <div class="cover" style="background-image: url(<%= @event.galleries.first.try(:media, :thumb) %>);"></div>
  <% end %>
  <div class="info">
    <div class="container">
      <h1 class="title"><%= @event.title %></h1>
    </div>
  </div>
</div>
<div class="section" id="info-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <div class="row">
          <div class="col-xs-12">
            <div class="meta date"><i class="icon icon-xs icon-calendar"></i> <%= @section.to_event_human %></div>
            <div class="meta location"><i class="icon icon-xs icon-map-pin"></i> <%= @event.location_name %></div>
          </div>
        </div>
        <div class="description">
            <%= simple_format(@event.description) %>
        </div>
        <div class="gallery row">
          <% @event.galleries.each do |image| %>
          <div class="col col-xs-6 col-md-4">
            <a class="image" href="#" style="background-image: url(<%= image.try(:media, :thumb) %>);"></a>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-xs-12 col-md-4">
        <button type="button" class="btn btn-block btn-daydash btn-daydash-lg btn-daydash-green-1" data-toggle="modal" data-target="#ticket-list-modal">
          ซื้อตั๋ว - ฿<%= @section.price %>
        </button>
        <div class="map-panel">
          <div id="google-map" data-lat="<%= @event.latitude %>" data-lng="<%= @event.longitude %>"></div>
        </div>
        <div class="social-panel">
          <div class="row">
            <div class="col-xs-12">
              <a class="btn btn-block btn-daydash">Add to my Wishlist</a>
              <div class="social-list">
                <div class="fb-share-button" data-href="<%= client_event_path(@event.to_url) %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
                <a href="<%= client_event_path(@event.to_url) %>" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="related-event-section">
  <div class="container">
    <div class="section-header">
      <div class="section-title">Similar Events</div>
    </div>
    <div class="row event-list">
      <% @related_events.each do |event| %>
        <div class="col-sm-6 col-md-4">
          <div class="event card">
            <%= link_to client_event_path(event.to_url) do %>
              <% if event.galleries.present? %>
                <div class="cover" style="background-image: url(<%= event.galleries.first.try(:media, :thumb) %>);"></div>
              <% else %>
                <div class="cover"></div>
              <% end %>
            <% end %>
            <div class="info">
              <h4 class="title text-left">
                <%= link_to event.title, client_event_path(event.to_url) %>
              </h4>
              <div class="meta date"><i class="icon icon-xs icon-calendar"></i> <%= event.first_section.to_event_human %></div>
              <div class="meta location"><i class="icon icon-xs icon-map-pin"></i> <%= event.location_name %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ticket-list-modal">
  <div class="modal-dialog" role="document">
    <%= form_tag client_event_express_path(@event.to_url), method: :get, id: :payment do  %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Select Ticket</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <% @event.sections.each do |section| %>
            <!-- <input type="hidden" name="" value="<%= section.id %>"> -->
            <tr>
              <td>
                <div class="ticket-name"><%= section.title %> <%= section.to_event_human %></div>
                <div class="ticket-meta">
                  <span class="ticket-price">฿ <%= section.price %></span> <span class="ticket-quantity">x 1</span>
                </div>
              </td>
              <td width="100" align="right">
                <select class="form-control" name="section[<%= section.id %>]">
                  <% (0..1).each do |i| %>
                    <option value="<%= i %>"><%= i %></option>
                  <% end %>
                </select>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="modal-footer">
          <button class="btn btn-daydash btn-daydash-green-1">NEXT</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
