<p id="notice"><%= notice %></p>

<h1>Admin Dashboards</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Show</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_dashboards.each do |admin_dashboard| %>
      <tr>
        <td><%= admin_dashboard.index %></td>
        <td><%= admin_dashboard.show %></td>
        <td><%= link_to 'Show', admin_dashboard %></td>
        <td><%= link_to 'Edit', edit_admin_dashboard_path(admin_dashboard) %></td>
        <td><%= link_to 'Destroy', admin_dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Dashboard', new_admin_dashboard_path %>
