<article class="content items-list-page">
  <div class="title-search-block">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title">
            User
            <%= link_to "Add New", new_admin_user_path, class: 'btn btn-primary btn-sm rounded-s' %>
          </h3>
        </div>
      </div>
    </div>
    <div class="items-search">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control boxed rounded-s" placeholder="Search for...">
          <span class="input-group-btn">
          <button class="btn btn-secondary rounded-s" type="button">
            <i class="fa fa-search"></i>
          </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="card items">

    <div class="panel panel-default">
      <table class="table table-striped">
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Role</th>
          <th>Joined At</th>
          <th>Action</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td><%= image_tag(user.avatar(:thumb), style: 'width: 64px; height 64px;') %></td>
          <td><%= user.last_name %></td>
          <td><%= user.gender %></td>
          <td><%= user.role.name %></td>
          <td><%= user.created_at %></td>
          <td><%= link_to "Edit", edit_admin_user_path(user.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>
<!--
    <nav class="text-xs-right">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="">
                    Prev
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="">
                    1
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">
                    2
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">
                    3
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">
                    4
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">
                    5
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">
                    Next
                </a>
            </li>
        </ul>
    </nav> -->
</article>
