<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daydash.co</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'core', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'components', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'icons', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'menu', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'responsive', media: 'all', 'data-turbolinks-track' => true %>

    <link rel="stylesheet" href="http://v4-alpha.getbootstrap.com/examples/carousel/carousel.css" media="screen" title="no title" charset="utf-8">

    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>

  </head>
  <body>

  <header id="topnav">
    <div class="navbar-custom">
      <div class="container">
        <div id="navigation">
          <ul class="navigation-menu">
            <li class="has-submenu">
              <a href="/management">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <%= yield %>

  </body>
</html>
