<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= display_meta_tags %>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name= "category-id" content="<%= @category_id %>">

    <%= csrf_meta_tags %>

    <%= render partial: 'partials/tracking' %>

    <% if App.environment.production? %>
      <!-- Start of Async Drift Code -->
      <script>
      !function() {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
        t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
          return function() {
            var n;
            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e, n, o, i;
          e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
          n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('xswzh2iewdvu');
      </script>
      <!-- End of Async Drift Code -->
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'wadealike', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Google Map -->
    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyBYyAbr0KMSO5pXyEqNYp9_c6KdbYb9P5A&libraries=places', 'data-turbolinks-track' => true, media: 'all' %>
    <%= javascript_include_tag 'wadealike', 'data-turbolinks-track' => true %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.1.1/sweetalert2.css" media="screen" title="sweetalert2">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.1.1/sweetalert2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
  </head>

  <body id="<%= yield(:body_id) %>" class="<%= yield(:body_class) %>">
    <div id="fb-root"></div>

    <div id="wrapper">
      <%= render partial: 'partials/top_nav' %>

      <div id="main">
        <%= yield %>
      </div>

      <%= render partial: 'partials/footer' %>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
      <div class="modal-dialog modal-sm" role="document">
        <%= render partial: "partials/login-form" %>
        <%= render partial: "partials/register-form" %>
      </div>
    </div>

    <div id="drift-widget-container" data-turbolinks-permanent></div>
  </body>
</html>
