<% if App.is_management? %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured management theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <!-- <link rel="shortcut icon" href="images/favicon_1.ico"> -->
    <title>Daydash</title>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://oss.maxcdn.com/libs/respond.1.3.0/respond.min.js', 'data-turbolinks-track' => true %>
    <![endif]-->

    <%= stylesheet_link_tag    'daydash', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'daydash', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'components/core', 'data-turbolinks-track' => true %>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

    <% if App.is_management? %>
      <%= stylesheet_link_tag    'management/core', media: 'all', 'data-turbolinks-track' => true  %>
      <%= javascript_include_tag 'management/core', 'data-turbolinks-track' => true %>
    <% else %>
      <%= stylesheet_link_tag    'client/core', media: 'all', 'data-turbolinks-track' => true  %>
      <%= javascript_include_tag 'client/core', 'data-turbolinks-track' => true %>
    <% end %>
  </head>
  <body>
    <%= render partial: "layouts/parts/nav" %>
    <% if params[:controller].eql?('client/events') %>
      <% if params[:action].eql?('index') %>
        <%= render partial: "layouts/parts/carousel_index" %>
      <% elsif params[:action].eql?('show') %>
        <%= render partial: "layouts/parts/carousel_show" %>
      <% end %>
    <% end %>
    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render partial: "layouts/parts/footer" %>
  </body>
</html>
<% else %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Daydash</title>
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="/src/packages/font-awesome-4.5.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/src/packages/bootstrap-3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/src/packages/bootstrap-3.3.6/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/src/packages/daydash/home.css" />

    <script src="/src/packages/jquery/jquery-2.2.2.min.js"></script>
    <script src="/src/packages/bootstrap-3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="wrapper">
      <div id="topbar">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-navmenu"></i></button>
              <a class="navbar-brand" href="/"><img src="/src/images/theme/logo.png" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if current_user.present? %>
                  <% if current_user.is_organizer? %>
                    <li>
                      <%= link_to "", "Organizer" %>
                    </li>
                  <% end %>
                  <li><a href=""><%= "#{current_user.first_name} #{current_user.last_name}" %></a></li>
                <% else %>
                  <li><a data-toggle="modal" data-target="#login-modal" href="#login-modal">Login / Sign up</a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div id="main">
        <%= yield %>
      </div>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12 col-md-3">
              <div class="list-panel">
                <div class="list-title">Explore</div>
                <ul class="list-body nav">
                  <li><a href="#">Nightlife</a></li>
                  <li><a href="#">Entertainment</a></li>
                  <li><a href="#">Outdoor &amp; Adventure</a></li>
                  <li><a href="#">Gaming</a></li>
                  <li><a href="#">Workshops</a></li>
                  <li><a href="#">Tours</a></li>
                </ul>
              </div>
            </div>
            <div class="col col-xs-12 col-md-3">
              <div class="list-panel">
                <div class="list-title">Support</div>
                <ul class="list-body nav">
                  <li><a href="#">List Event on Daydash</a></li>
                  <li><a href="#">Daydashzine</a></li>
                  <li><a href="#">Our Story</a></li>
                  <li><a href="#">How to Pay</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col col-xs-12 col-md-3">
              <div class="list-panel social-list">
                <div class="list-title">Connect</div>
                <ul class="list-body list-inline">
                  <li><a href="#"><i class="icon icon-line"></i></a></li>
                  <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                  <li><a href="#"><i class="icon icon-instagram"></i></a></li>
                  <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                </ul>
              </div>

              <div class="fb-page" data-href="https://www.facebook.com/daydashapp/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/daydashapp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/daydashapp/">Daydash</a></blockquote></div>
            </div>
            <div class="col col-xs-12 col-md-3">
              <div class="list-panel">
                <ul class="list-body list-inline">
                  <li><a href="#"><img src="/src/images/theme/appstore.png" height="40" /></a></li>
                  <li><a href="#"><img src="/src/images/theme/playstore.png" height="40" /></a></li>
                </ul>
              </div>

              <div>
                <div class="copyright">© 2016 Daydash.co</div>
                <ul class="list-body list-inline">
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>

              <div class="cert-list">
                <img src="/src/images/theme/comodo.png" height="30" />
                <img src="/src/images/theme/visa_master.png" height="30"/>
                <img src="/src/images/theme/mixpanel.png" height="30"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
    <div class="modal-dialog modal-sm" role="document">
      <%= render partial: "layouts/parts/login-form" %>
      <%= render partial: "layouts/parts/register-form" %>
    </div>
  </div>

  <!-- Facebook API -->
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=259929777688738";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</body>
</html>
<% end %>
