<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daydash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name= "category-id" content="<%= @category_id %>">
    <%= csrf_meta_tags %>
    <%= render partial: "layouts/parts/tracking" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYyAbr0KMSO5pXyEqNYp9_c6KdbYb9P5A&libraries=places" async defer></script>

    <%= stylesheet_link_tag 'client/core', media: 'all', 'data-turbolinks-track' => true %>

  </head>
  <body>
    <div id="fb-root"></div>
    <div id="wrapper">
      <div id="topbar">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-navmenu"></i></button>
              <%= link_to root_path, class: 'navbar-brand' do %>
                <img src="/src/images/theme/logo.png" />
              <% end %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-left">
                <li>
                  <a href="/">ALL</a>
                </li>
                <%# binding.pry %>
                <% @global_categories.each do |category| %>
                  <li>
                    <% if is_index_with_categories? %>
                      <%= link_to category.title, 'javascript:;', class: 'category-filter', 'data-filter': category.id %>
                    <% else %>
                      <a href="/categories/<%= category.slug %>"><%= category.title %></a>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if current_user.present? %>
                  <% if current_user.can_organizer? %>
                    <li>
                      <%= link_to "Organizer", "/organizer", target: '_self' %>
                    </li>
                  <% end %>
                  <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                      <div class="user-profile-photo" style="background-image: url(<%= current_user.picture(:medium) %>"></div>
                      <div class="user-name"><%= current_user.first_name %></div>
                      <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "My Tickets", client_profile_tickets_path(current_user) %></li>
                      <li><%= link_to "My Orders", client_profile_orders_path(current_user) %></li>
                      <!-- <li><a href="/profile/wishlist">Wish List</a></li> -->
                      <li><%= link_to "Account Settings", client_profile_settings_path(current_user) %></li>
                      <li>
                      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li><a id="menu-login" class="btn btn-daydash btn-daydash-green-2" data-toggle="modal" data-target="#login-modal" href="#login-modal">สมัครสมาชิกฟรี / เข้าสู่ระบบ</a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div id="main">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12 col-md-3">
              <div class="list-panel">
                <div class="list-title">Explore</div>
                <ul class="list-body nav">
                  <li><a href="#">Nightlife</a></li>
                  <li><a href="#">Entertainment</a></li>
                  <li><a href="#">Outdoor &amp; Adventure</a></li>
                  <li><a href="#">Gaming</a></li>
                  <li><a href="#">Workshops</a></li>
                  <li><a href="#">Tours</a></li>
                </ul>
              </div>
            </div>
            <div class="col col-xs-12 col-md-3">
              <div class="list-panel">
                <div class="list-title">Support</div>
                <ul class="list-body nav">
                  <li><a href="#">List Event on Daydash</a></li>
                  <li><a href="#">Daydashzine</a></li>
                  <li><a href="#">Our Story</a></li>
                  <li><a href="#">How to Pay</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col col-xs-12 col-md-3">
              <div class="list-panel social-list">
                <div class="list-title">Connect</div>
                <ul class="list-body list-inline">
                  <li><a href="#"><i class="icon icon-line"></i></a></li>
                  <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                  <li><a href="#"><i class="icon icon-instagram"></i></a></li>
                  <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                </ul>
              </div>

              <div class="fb-page" data-href="https://www.facebook.com/daydashapp/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/daydashapp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/daydashapp/">Daydash</a></blockquote></div>
            </div>
            <div class="col col-xs-12 col-md-3">
              <div class="list-panel">
                <ul class="list-body list-inline">
                  <li><a href="#"><img src="/src/images/theme/appstore.png" height="40" /></a></li>
                  <li><a href="#"><img src="/src/images/theme/playstore.png" height="40" /></a></li>
                </ul>
              </div>

              <div>
                <div class="copyright">© 2016 Daydash.co</div>
                <ul class="list-body list-inline">
                  <li><a href="<%= terms_and_conditions_path %>">Terms &amp; Conditions</a></li>
                  <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
                </ul>
              </div>

              <div class="cert-list">
                <img src="/src/images/theme/comodo.png" height="30" />
                <img src="/src/images/theme/visa_master.png" height="30"/>
                <img src="/src/images/theme/mixpanel.png" height="30"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
    <div class="modal-dialog modal-sm" role="document">
      <%= render partial: "layouts/parts/login-form" %>
      <%= render partial: "layouts/parts/register-form" %>
    </div>
  </div>
  <%= javascript_include_tag 'client/core', 'data-turbolinks-track' => true %>

  <!-- Bootstrap Datetimepicker -->
  <!-- <link type="stylesheet" href="/src/packages/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
  <script src="/src/packages/bootstrap-datetimepicker/js/moment.js"></script>
  <script src="/src/packages/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script> -->

  <!-- Mustache -->
  <!-- <script src="/src/packages/mustache/mustache.min.js"></script> -->

  <!-- Jquery UI - Sortable -->
  <!-- <link rel="stylesheet" href="/src/packages/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
  <script src="/src/packages/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script> -->
<!--
  <script type="text/javascript">
  var init_datetimepicker, on_ticket_add, on_ticket_delete;

    init_datetimepicker = function(element) {
      $('.datepicker', element).datetimepicker({
        format: 'DD/MM/YYYY'
      });
      $('.timepicker', element).datetimepicker({
        format: 'LT',
        stepping: 15
      });
    };

    on_ticket_add = function(button) {
      var element, rendered, template;
      template = $('#new-ticket-template').html();
      Mustache.parse(template);
      rendered = Mustache.render(template, {});
      element = $(rendered);
      $('.ticket-list tbody').append(element);
      init_datetimepicker(element);
      return false;
    };

    on_ticket_delete = function(button) {
      var element;
      element = $(button).parents('.ticket');
      element.remove();
      return false;
    };

    $(function() {
      init_datetimepicker($('body'));
      on_ticket_add();
    });
  </script> -->
</body>
</html>
