<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Daydash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <style media="screen">
      body {
        font-family: Sans-Serif;
        font-size: 16px;
        line-height: 1.7;
        letter-spacing: 0.01em;
      }
      h1, h2 {
        font-size: 14px;
        font-weight: bold;
      }

      ul {
        padding-left: 20px;
      }
    </style>

    <%= render partial: "partials/tracking" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
